<hr class="footer-rule" />

<ul class="contact-info">

    <li><perch:content id="contact-name" type="text" label="Business Name" required="true" default="Roy Dudley Estate Sales" /></li>
    <li><perch:content id="contact-address1" type="text" label="Address - Line 1" required="true" /></li>
    <li><perch:content id="contact-address2" type="text" label="Address - City/State" required="true" default="Little Rock, Arkansas" /></li>
    <li><perch:content id="contact-phone" type="text" label="Phone Number" required="true" /></li>
	<li><img class="social" src="/img/facebook.png" alt="Facebook icon" /><a class="general-link" href="https://www.facebook.com/pages/Roy-Dudley-Estate-Sales/146801892020005" target="_blank">Like us on Facebook</a></li>
</ul>