<div class="form-description">
	<perch:content id="form-description" type="textarea" label="Form Description" size="s" textile="false" markdown="true" required="true" editor="markitup" />
</div>
	
<perch:form id="contact-form" class="pure-form contact-form" method="post" app="perch_forms">
	
	<fieldset>
		<div class="pure-control-group form-name">
			<perch:label class="dudley-label" for="name">Your Name</perch:label>
			<perch:input class="dudley-input" type="text" id="name" required="true" label="Name" />
			<perch:error for="name" type="required">Please add your name</perch:error>
		</div>

		<div class="pure-control-group form-email">
			<perch:label class="dudley-label" for="email">Your Email</perch:label>
			<perch:input class="dudley-input" type="email" id="email" required="true" label="Email" placeholder="youremail@example.com" />
			<perch:error for="email" type="required">Please add your email address</perch:error>
			<perch:error for="email" type="format">Please check your email address</perch:error>
		</div>

		<div class="pure-control-group form-telephone">
			<perch:label class="dudley-label" for="tel">Your Phone</perch:label>
			<perch:input class="dudley-input" type="tel" id="tel" required="true" label="Phone" placeholder="501-555-5555" />
			<perch:error for="tel" type="required">Please add your phone number</perch:error>
			<perch:error for="tel" type="format">Please check your phone number</perch:error>
		</div>

		<div class="pure-control-group form-message">
			<perch:label class="dudley-label" for="message">Your Message</perch:label>
			<perch:input class="dudley-textarea" type="textarea" rows="10" id="message" required="true" label="Message" />
			<perch:error for="message" type="required">How can we help you?</perch:error>
		</div>

		<div>
			<perch:input class="send-button pure-button" type="submit" id="submit" value="Send" />
		</div>

	</fieldset>

	<perch:success>
		<perch:content id="success" type="textarea" label="Thank you message (what appears when the contact form is sent.)" size="s" textile="false" markdown="true" required="true" editor="markitup" />
	</perch:success>
</perch:form>

