    <header id="home">
    	<h2 class="business"><perch:content id="business-name" type="text" label="Business Name" required="true" /><a href="#menu" class="menu-link active"><img alt="menu icon" src="img/icon-menu.svg" /></a></h2> 
	
		<nav id="menu" class="active" role="navigation">
			<ul>
				<li><a class="general-link nav-link" href="/">Home</a></li>
				<li><a class="general-link nav-link" href="#sales">Upcoming Sales</a></li>
				<li><a class="general-link nav-link" href="#process">Our Process</a></li>
				<li><a class="general-link nav-link" href="#contact">Contact Us</a></li>
			</ul>
		</nav>
	
	</header>