<div class="intro-wrapper">	
    <div class="intro-logo">

        <div id="logo">
            <span data-picture data-alt="Roy Dudley Estate Sales logo"><span data-src="img/logo-small.png"></span><span data-src="img/logo.png" data-media="(min-width: 37.5em)"></span><span data-src="img/logo-small.png" data-media="(min-width: 50em)"></span><noscript><img src="img/logo-small.png" alt="Roy Dudley Estate Sales logo"></noscript></span>
        </div>

    </div>

    <div class="inner-intro-wrapper">
        <div class="intro-subtext">

            <h1 id="statement"><perch:content id="statement" type="text" label="Mission Statement" required="true" /></h1>
            <button href="#signup-form" role="button" class="pure-button subscribe-link active">Join our mailing list</button> 

        </div>

        <form class="pure-form active" action="http://roydudleyestatesales.us7.list-manage.com/subscribe/post?u=b3664ef6b89bb49292414846e&amp;id=95f6e0d2c4" method="post" id="signup-form" name="signup-form" target="_blank">
            
            <label for="mce-EMAIL">Your Email
                <input type="email" value="" name="EMAIL" class="signup-email dudley-input" placeholder="roy@example.com" id="mce-EMAIL">
            </label>

            <!-- For our robotic friends only -->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_b3664ef6b89bb49292414846e_95f6e0d2c4" value=""></div>

            <input type="submit" value="Subscribe" name="subscribe" class="signup-submit pure-button">
        </form>
    </div>
</div>
