.l-content__wrapper {
    padding: 2em 0;
}

.l-content {
    max-width: 38em;
    font-size: 1em;
    margin: 0 auto;
    z-index: 1;
    position: relative;

    padding-top: 0;
}

.l-content--horizon {
    top: -3.5em;
}

.l-content__wrapper--horizon {
    position: relative;
    top: 8em;
    padding-top: 0;

    &::before {
        clip-path: ellipse(50% 41% at 50% 41%);
        content: "";
        position: absolute;
        margin-left: -100vw;
        width: 300vw;
        height: 100vh;

        @media screen and (min-width: 36em) {
            margin-left: -50vw;
            width: 200vw;
            top: -8em;
        }

        .no-shapes & {
            border-radius: 50%;
        }
    }
}

.theme--night {
    .l-content__wrapper {
        background: $color-blue-075;
    }

    .l-content__wrapper::before {
        background: $color-blue-075;
    }

    .l-content__wrapper::after {
        background: $color-blue-075;
    }
}

.theme--day {
    .l-content__wrapper {
        background: $color-green-020;
    }

    .l-content__wrapper::before {
        background: $color-green-020;
    }

    .l-content__wrapper::after {
        background: $color-green-020;
    }
}
