---
layout: blog
title: Blog Posts
permalink: /blog/
---
<div class="blog">
        {% for post in site.categories.blog %}
        {% if forloop.index %} 
            <div class="blog__post">
                <a class="blog__title" href={{post.url}}>
                    <h2>{{ post.title }}</h2>
                </a>
        
                <h5 class="blog__date">Posted on {{ post.date | date: "%b %-d, %Y"}}</h5>
        
                <p>{{ post.content | strip_html | truncatewords: 30 }}</p>
            </div>    
        {% endif %}
    {% endfor %}
</div>