html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

@font-face {
  font-family: "grey-sans-ultrathin";
  src: url("../fonts/GreySans-Ultrathin-webfont/GreySans-Ultrathin-webfont.eot");
  src: url("../fonts/GreySans-Ultrathin-webfont/GreySans-Ultrathin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/GreySans-Ultrathin-webfont/GreySans-Ultrathin-webfont.woff") format("woff"), url("../fonts/GreySans-Ultrathin-webfont/GreySans-Ultrathin-webfont.ttf") format("truetype"), url("../fonts/GreySans-Ultrathin-webfont/GreySans-Ultrathin-webfont.svg#grey-sans-ultrathin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "grey-sans-thin";
  src: url("../fonts/GreySans-Thin-webfont/GreySans-Thin-webfont.eot");
  src: url("../fonts/GreySans-Thin-webfont/GreySans-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/GreySans-Thin-webfont/GreySans-Thin-webfont.woff") format("woff"), url("../fonts/GreySans-Thin-webfont/GreySans-Thin-webfont.ttf") format("truetype"), url("../fonts/GreySans-Thin-webfont/GreySans-Thin-webfont.svg#grey-sans-thin") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "grey-sans-light";
  src: url("../fonts/GreySans-Light-webfont/GreySans-Light-webfont.eot");
  src: url("../fonts/GreySans-Light-webfont/GreySans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/GreySans-Light-webfont/GreySans-Light-webfont.woff") format("woff"), url("../fonts/GreySans-Light-webfont/GreySans-Light-webfont.ttf") format("truetype"), url("../fonts/GreySans-Light-webfont/GreySans-Light-webfont.svg#grey-sans-light") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "grey-sans-regular";
  src: url("../fonts/GreySans-Regular-webfont/GreySans-Regular-webfont.eot");
  src: url("../fonts/GreySans-Regular-webfont/GreySans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/GreySans-Regular-webfont/GreySans-Regular-webfont.woff") format("woff"), url("../fonts/GreySans-Regular-webfont/GreySans-Regular-webfont.ttf") format("truetype"), url("../fonts/GreySans-Regular-webfont/GreySans-Regular-webfont.svg#grey-sans-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "grey-sans-semibold";
  src: url("../fonts/GreySans-Semibold-webfont/GreySans-Semibold-webfont.eot");
  src: url("../fonts/GreySans-Semibold-webfont/GreySans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/GreySans-Semibold-webfont/GreySans-Semibold-webfont.woff") format("woff"), url("../fonts/GreySans-Semibold-webfont/GreySans-Semibold-webfont.ttf") format("truetype"), url("../fonts/GreySans-Semibold-webfont/GreySans-Semibold-webfont.svg#grey-sans-semibold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "grey-sans-bold";
  src: url("../fonts/GreySans-Bold-webfont/GreySans-Bold-webfont.eot");
  src: url("../fonts/GreySans-Bold-webfont/GreySans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/GreySans-Bold-webfont/GreySans-Bold-webfont.woff") format("woff"), url("../fonts/GreySans-Bold-webfont/GreySans-Bold-webfont.ttf") format("truetype"), url("../fonts/GreySans-Bold-webfont/GreySans-Bold-webfont.svg#grey-sans-bold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "grey-sans-extrabold";
  src: url("../fonts/GreySans-Extrabold-webfont/GreySans-Extrabold-webfont.eot");
  src: url("../fonts/GreySans-Extrabold-webfont/GreySans-Extrabold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/GreySans-Extrabold-webfont/GreySans-Extrabold-webfont.woff") format("woff"), url("../fonts/GreySans-Extrabold-webfont/GreySans-Extrabold-webfont.ttf") format("truetype"), url("../fonts/GreySans-Extrabold-webfont/GreySans-Extrabold-webfont.svg#grey-sans-extrabold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: "grey-sans-black";
  src: url("../fonts/GreySans-Black-webfont/GreySans-Black-webfont.eot");
  src: url("../fonts/GreySans-Black-webfont/GreySans-Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/GreySans-Black-webfont/GreySans-Black-webfont.woff") format("woff"), url("../fonts/GreySans-Black-webfont/GreySans-Black-webfont.ttf") format("truetype"), url("../fonts/GreySans-Black-webfont/GreySans-Black-webfont.svg#grey-sans-black") format("svg");
  font-weight: normal;
  font-style: normal;
  font-stretch: normal; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "grey-sans-regular", arial, sans-serif; }

html {
  min-height: 100%;
  min-width: 100%;
  font-size: 16px; }
  @media screen and (min-width: 22em) {
    html {
      font-size: 18px; } }
  @media screen and (min-width: 27em) {
    html {
      font-size: 20px; } }
  @media screen and (min-width: 35em) {
    html {
      font-size: 22px; } }
  @media screen and (min-width: 48em) {
    html {
      font-size: 16px; } }
  @media screen and (min-width: 60em) {
    html {
      font-size: 18px; } }
  @media screen and (min-width: 90em) {
    html {
      font-size: 20px; } }
  @media screen and (min-width: 120em) {
    html {
      font-size: 22px; } }
  @media screen and (min-width: 150em) {
    html {
      font-size: 24px; } }

main {
  padding: 0 4%;
  width: 100%;
  background: #fff;
  padding-top: 80px;
  padding-top: 5rem;
  -webkit-transition: margin-top 150ms ease-in, padding-top 50ms ease-in 25ms;
  -moz-transition: margin-top 150ms ease-in, padding-top 50ms ease-in 25ms;
  -o-transition: margin-top 150ms ease-in, padding-top 50ms ease-in 25ms;
  transition: margin-top 150ms ease-in, padding-top 50ms ease-in 25ms; }
  main.is-active {
    margin-top: 352px;
    margin-top: 22rem;
    padding-top: 48px;
    padding-top: 3rem; }

strong {
  font-family: "grey-sans-semibold", arial, sans-serif; }

a {
  -webkit-transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
  -moz-transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
  -o-transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;
  transition: color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease; }

.tagline-button {
  display: inline-block;
  width: auto;
  padding: 4.8px 8px;
  padding: 0.3rem 0.5rem;
  background-color: #243c79;
  border: 2px solid #46a8df;
  text-decoration: none; }

.site-tagline {
  margin-top: 8px;
  margin-top: 0.5rem; }

.tagline {
  font-size: 11.2px;
  font-size: 0.7rem;
  font-family: "grey-sans-bold", arial, sans-serif;
  margin: 0;
  text-transform: uppercase;
  color: #ffffff; }
  @media screen and (min-width: 48em) {
    .tagline {
      font-size: 11.2px;
      font-size: 0.7rem;
      letter-spacing: 0.8px;
      letter-spacing: 0.05rem; } }

.tagline-header {
  font-family: "grey-sans-light", arial, sans-serif;
  font-size: 20.8px;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
  @media screen and (min-width: 30em) {
    .tagline-header {
      font-size: 27.2px;
      font-size: 1.7rem; } }
  @media screen and (min-width: 48em) {
    .tagline-header {
      font-size: 38.4px;
      font-size: 2.4rem; } }

.l-project {
  width: 100%; }
  .l-project:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 48em) {
    .l-project {
      margin-top: 48px;
      margin-top: 3rem; } }

.project {
  width: 100%;
  margin: 32px auto;
  margin: 2rem auto; }
  .project:after {
    content: "";
    display: table;
    clear: both; }

.project-details {
  float: left;
  width: 20%; }

.project-image {
  float: left;
  width: 70%;
  margin-right: 5%; }

.header {
  font-family: "grey-sans-extrabold", arial, sans-serif;
  text-transform: uppercase;
  margin: 0 0 3.2px 0;
  margin: 0 0 0.2rem 0; }

.sub-header {
  font-family: "grey-sans-semibold", arial, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 3.2px 0;
  margin: 0 0 0.2rem 0; }

.chiclet-button {
  font-family: "grey-sans-semibold", arial, sans-serif;
  font-size: 12.8px;
  font-size: 0.8rem;
  padding: 4.8px 8.8px;
  padding: 0.3rem 0.55rem;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 70%;
  border: 1px solid #243c79;
  border-radius: 6px;
  color: #243c79;
  cursor: hand;
  cursor: pointer; }
  @media screen and (min-width: 25em) {
    .chiclet-button {
      max-width: 160px;
      max-width: 10rem;
      margin-left: 0; } }
  .chiclet-button:hover {
    color: #ffffff;
    background-color: #304fa0;
    border: 1px solid #304fa0; }

.l-experience ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }
  .l-experience ul li {
    margin-top: 16px;
    margin-top: 1rem; }

.l-intro {
  position: absolute;
  top: 0;
  z-index: -1;
  color: #fff;
  background-color: #243c79;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
  height: 368px;
  height: 23rem; }
  .l-intro:after {
    content: "";
    display: table;
    clear: both; }
  .l-intro .intro-col {
    width: 100%; }
    .l-intro .intro-col p {
      margin: 0 0 1em 0; }
    @media screen and (min-width: 48em) {
      .l-intro .intro-col {
        font-size: 17.6px;
        font-size: 1.1rem;
        width: 41%;
        margin: 0 0 0 4%;
        margin-top: 48px;
        margin-top: 3rem;
        float: left; } }
    .l-intro .intro-col:last-child {
      margin-left: 7%; }

a.intro-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  z-index: 999;
  padding: 2px 2px 2px;
  padding: 0.125rem 0.125rem 0.125rem;
  background-image: linear-gradient(to top, white, white);
  background-size: 100% .15em;
  background-position: bottom;
  background-repeat: no-repeat;
  -webkit-transition: background-size 175ms ease-out, color 110ms ease-in-out 25ms;
  -moz-transition: background-size 175ms ease-out, color 110ms ease-in-out 25ms;
  -o-transition: background-size 175ms ease-out, color 110ms ease-in-out 25ms;
  transition: background-size 175ms ease-out, color 110ms ease-in-out 25ms; }
  a.intro-link:hover, a.intro-link.is-selected {
    color: #243c79;
    background-size: 100% 100%; }

a.intro-trigger.intro-link {
  color: #000; }

.intro-text {
  margin: 0 auto; }
  @media screen and (min-width: 48em) {
    .intro-text {
      margin: -16px -48px -16px -40px;
      margin: -1rem -3rem -1rem -2.5rem;
      -webkit-box-flex: 1 0 0;
      -webkit-flex: 1 0 0;
      -moz-box-flex: 1 0 0;
      -moz-flex: 1 0 0;
      -ms-flex: 1 0 0;
      flex: 1 0 0;
      border: none; } }

.intro-headline {
  font-size: 256px;
  font-size: 16rem;
  font-family: "grey-sans-ultrathin", arial, sans-serif;
  padding: 0;
  text-shadow: 3px 3px 12px rgba(0, 0, 0, 0.6);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  @media screen and (min-width: 48em) {
    .intro-headline {
      font-size: 336px;
      font-size: 21rem;
      letter-spacing: -14.4px;
      letter-spacing: -0.9rem;
      width: 34%;
      height: auto;
      margin: 0;
      padding: 64px 0 0 16px;
      padding: 4rem 0 0 1rem; } }

.social-icons div {
  width: 32px;
  width: 2rem;
  height: 32px;
  height: 2rem;
  border-radius: 16px;
  border-radius: 1rem;
  margin-right: 13.6px;
  margin-right: 0.85rem;
  display: block;
  float: left;
  background-color: #46a8df; }

.mini-logo .logo-bar, .mini-logo .logo-block {
  fill: #fff;
  stroke: #fff; }

.mini-logo-object {
  margin: 0 auto;
  width: auto; }

.logo-bar {
  fill: #243c79; }

.logo-block {
  fill: #46a8df; }

.svg-logo-icon {
  float: left;
  margin-right: 32px;
  margin-right: 2rem; }
  .svg-logo-icon svg {
    width: 224px;
    width: 14rem;
    height: 192px;
    height: 12rem; }

.contact-form {
  width: 100%; }

label, fieldset {
  display: block;
  line-height: 1.8;
  margin-top: 16px;
  margin-top: 1rem; }

input {
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
  min-height: 32px;
  min-height: 2rem; }

input[type="text"], input[type="tel"], input[type="email"], textarea {
  padding: 8px 9.6px;
  padding: 0.5rem 0.6rem;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #dddddd;
  -moz-box-shadow: inset 0 1px 3px #dddddd;
  box-shadow: inset 0 1px 3px #dddddd;
  border-radius: 4px; }

.contact-options:after {
  content: "";
  display: table;
  clear: both; }

.contact-options label {
  display: inline-block;
  width: auto;
  margin: 3.2px 16px 0 0;
  margin: 0.2rem 1rem 0 0; }

input[type="radio"], input[type="checkbox"] {
  width: auto;
  height: auto;
  margin-right: 8px;
  margin-right: 0.5rem;
  vertical-align: text-top;
  display: inline-block; }

textarea {
  width: 100%;
  font-size: 16px;
  font-size: 1rem; }

.l-contact:after {
  content: "";
  display: table;
  clear: both; }

@media screen and (min-width: 48em) {
  .contact-message {
    width: 45%;
    float: left;
    margin-left: 5%; } }

@media screen and (min-width: 48em) {
  .contact-details {
    width: 45%;
    float: left; } }

.skype, .phone {
  display: none; }

.post-header {
  height: 368px;
  height: 23rem;
  background-color: #243c79;
  padding-left: 10%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #243c79;
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */ }

.post-headline {
  font-family: "grey-sans-ultrathin";
  font-style: normal;
  font-size: 112px;
  font-size: 7rem;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  margin: 80px auto 0;
  margin: 5rem auto 0;
  display: block;
  position: relative; }

.post-subhead {
  font-family: "grey-sans-semibold";
  font-style: normal;
  font-size: 33.6px;
  font-size: 2.1rem;
  color: #fff;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  margin-top: 6.4px;
  margin-top: 0.4rem;
  display: block;
  position: relative; }
  .post-subhead:before {
    content: "";
    position: absolute;
    bottom: -0.6em;
    left: 0;
    height: 1px;
    width: 74%;
    border-bottom: 4px solid #46a8df; }

.post-section-subhead {
  font-family: "grey-sans-semibold"; }

.post-text {
  width: 60%;
  margin-left: 15%;
  padding-top: 32px;
  padding-top: 2rem;
  position: relative; }
  @media screen and (min-width: 90em) {
    .post-text {
      margin-left: auto;
      margin-right: auto;
      max-width: 1152px;
      max-width: 72rem; } }

.post-paragraph {
  margin-bottom: 16px;
  margin-bottom: 1rem;
  font-size: 20.8px;
  font-size: 1.3rem; }
  @media screen and (min-width: 90em) {
    .post-paragraph {
      font-size: 27.2px;
      font-size: 1.7rem; } }

.post-image {
  margin-bottom: 16px;
  margin-bottom: 1rem; }

.post-image.full-col {
  width: 85%; }

.post-image.half-col {
  width: 45%;
  float: left;
  margin-right: 5%; }

.l-intro.post-intro {
  height: 0;
  -webkit-transition: height 200ms ease;
  -moz-transition: height 200ms ease;
  -o-transition: height 200ms ease;
  transition: height 200ms ease; }
  .l-intro.post-intro.is-active {
    height: 368px;
    height: 23rem; }

.post-main {
  margin-top: 368px;
  margin-top: 23rem; }

nav {
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #243c79;
  border-bottom: 1px solid #fff; }
  nav ul {
    float: left;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none; }

.nav-link {
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 8px 40px;
  padding: 0.5rem 2.5rem;
  border-bottom: 1px solid #fff; }
  @media screen and (min-width: 48em) {
    .nav-link {
      width: auto;
      border-right: 1px solid #fff; } }
  .nav-link a {
    text-decoration: none;
    color: #fff;
    padding: 2px 2px 2px;
    padding: 0.125rem 0.125rem 0.125rem;
    background-image: linear-gradient(to top, white, white);
    background-size: 100% .15em;
    background-position: bottom;
    background-repeat: no-repeat;
    -webkit-transition: background-size 175ms ease-out, color 110ms ease-in-out 25ms;
    -moz-transition: background-size 175ms ease-out, color 110ms ease-in-out 25ms;
    -o-transition: background-size 175ms ease-out, color 110ms ease-in-out 25ms;
    transition: background-size 175ms ease-out, color 110ms ease-in-out 25ms; }
    .nav-link a:hover, .nav-link a.is-selected {
      color: #243c79;
      background-size: 100% 100%; }

.nav-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }

.nav-logo {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  background-color: #46a8df;
  padding: 0;
  height: 38.4px;
  height: 2.4rem; }
  @media screen and (min-width: 48em) {
    .nav-logo {
      width: 80px;
      width: 5rem;
      height: 40px;
      height: 2.5rem; } }

.nav-menu {
  width: 35.2px;
  width: 2.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  .nav-menu img {
    width: 60%;
    margin: 0 auto;
    -webkit-align-self: center;
    -moz-align-self: center;
    -ms-flex-item-align: center;
    align-self: center; }
