<!-- <footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer> -->

<footer class="c-footer">
    <h3>A little about me and my work</h3>
    <p>
        Hi, my name is Will Guldin and I work as the lead UI &amp; UX designer at Britecore, a web-based app used by insurance companies. I've found there's a lot of differences in the design challenges we face compared to those faced by a more traditional website.
    </p>
    <p>
        I started this blog to share some of the lessons we've learned along the way.
    </p>
    <p>
        My interest with visual design started in the darkroom, as an art photographer in high school. In college, I studied journalism, and eventually found web design to be a good mix of technical and creative skills.
    </p>
    <p>
        I love to cook, so in my spare time, I'm probably in the kitchen, with my wonderful wife, Megan.
    </p>
</footer>
