<footer class="c-footer">
    <h3>A little about me and my work</h3>
    <p>
        Hi, my name is Will Guldin and I work as the lead UI &amp; UX designer at Britecore, a web-based app used by insurance companies. I've found there's a lot of differences in the design challenges we face compared to those faced by a more traditional website.
    </p>
    <p>
        I started this blog to share some of the lessons we've learned along the way.
    </p>
    <p>
        My interest with visual design started in the darkroom, as an art photographer in high school. In college, I studied journalism, and eventually found web design to be a good mix of technical and creative skills.
    </p>
    <p>
        I love to cook, so in my spare time, I'm probably in the kitchen, with my wonderful wife, Megan.
    </p>
</footer>
