{% assign active = page.url %}

<div class="c-nav">
    <h2 class="c-nav__title">Will Guldin</h2>

    <div class="c-nav__description">
        <p>UI/UX Designer at <a href="http://britecore.com/">BriteCore</a>.</p>
        <p>
            I write about simple ideas to help design complex apps.
        </p>
        <nav>
            <ul class="u-list-unstyled c-nav__list">
                <li class="c-nav__list-item">
                    <a href="{{ '/' | prepend: site.baseurl }}"  class="{% if active == '/' %}c-nav__link--active{% endif %}">Writing</a>
                </li>
                <li class="c-nav__list-item">
                    <a href="{{ '/about' | prepend: site.baseurl }}" class="{% if active == '/about/' %}c-nav__link--active{% endif %}">About my Work</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
