{% assign active = page.url %}

<nav class="c-nav" id="nav">
    <ul class="u-list-unstyled c-nav__list">
        <li class="c-nav__list-item">
            <a id="home-link" href="{{ '/' | prepend: site.baseurl }}"  class="c-nav__link {% if active == '/' %}c-nav__link--active{% endif %}">Work</a>
        </li>
        <li class="c-nav__list-item">
            <a id="blog-link" href="{{ '/blog' | prepend: site.baseurl }}" class="c-nav__link {% if active == '/blog/' %}c-nav__link--active{% endif %}">Blog</a>
        </li>
        <li class="c-nav__list-item">
            <a id="talks-link" href="{{ '/talks' | prepend: site.baseurl }}" class="c-nav__link {% if active == '/talks/' %}c-nav__link--active{% endif %}">Talks</a>
        </li>
        <li class="c-nav__list-item">
            <a id="about-link" href="{{ '/about' | prepend: site.baseurl }}" class="c-nav__link {% if active == '/about/' %}c-nav__link--active{% endif %}">About Me</a>
        </li>
    </ul>
</nav>
