// Basic Reset
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

// Basic Styling
body {
    background-color: $color-gold-bg;
    font-family: $system-stack;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    text-size-adjust: 100%;
}

html {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-navy;
}

h1, h2, h3 {
    font-family: "league-spartan";
    font-weight: 300;
}

h4, h5, h6 {
    font-family: $system-stack;
    font-weight: 300;
}

$h1: 3.157em;
h1 {
    font-size: $h1;
}

$h2: 2.369em;
h2 {
    font-size: $h2;
}

$h3: 1.777em;
h3 {
    font-size: $h3;
}

$h4: 1.333em;
h4 {
    font-size: $h3;
}

$h5: 1em;
h5 {
    font-size: $h5;
}

$h6: .75em;
h6 {
    font-size: $h6;
}

button {
    background-color: $color-aqua;
    border-radius: $border-radius;
}

pre,
code {
    font-size: 15px;
    // border: 1px solid $grey-color-light;
    border-radius: 3px;
    // background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: .75em 1em;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


// /**
//  * Images
//  */
// img {
//     max-width: 100%;
//     vertical-align: middle;
// }
//
//
//
// /**
//  * Figures
//  */
// figure > img {
//     display: block;
// }
//
// figcaption {
//     font-size: $small-font-size;
// }
//
//
//
// /**
//  * Lists
//  */
// ul, ol {
//     margin-left: $spacing-unit;
// }
//
// li {
//     > ul,
//     > ol {
//          margin-bottom: 0;
//     }
// }
//

//
// /**
//  * Blockquotes
//  */
// blockquote {
//     color: $grey-color;
//     border-left: 4px solid $grey-color-light;
//     padding-left: $spacing-unit / 2;
//     font-size: 18px;
//     letter-spacing: -1px;
//     font-style: italic;
//
//     > :last-child {
//         margin-bottom: 0;
//     }
// }
//
//
//
// /**
//  * Code formatting
//  */

//
// /**
//  * Wrapper
//  */
// .wrapper {
//     max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
//     max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
//     margin-right: auto;
//     margin-left: auto;
//     padding-right: $spacing-unit;
//     padding-left: $spacing-unit;
//     @extend %clearfix;
//
//     @include media-query($on-laptop) {
//         max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
//         max-width:         calc(#{$content-width} - (#{$spacing-unit}));
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
//
//
//
//
// /**
//  * Icons
//  */
// .icon {
//
//     > svg {
//         display: inline-block;
//         width: 16px;
//         height: 16px;
//         vertical-align: middle;
//
//         path {
//             fill: $grey-color;
//         }
//     }
// }
