@font-face {
   font-family: "league-spartan";
   src: url("/portfolio/assets/fonts/leaguespartan-bold.woff2") format("woff2"),
        url("/portfolio/assets/fonts/leaguespartan-bold.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "cooper-hewitt";
   src: url("/portfolio/assets/fonts/cooper-hewitt-medium.woff2") format("woff2"),
        url("/portfolio/assets/fonts/cooper-hewitt-medium.woff") format("woff");
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: "cooper-hewitt";
   src: url("/portfolio/assets/fonts/cooper-hewitt-book.woff2") format("woff2"),
        url("/portfolio/assets/fonts/cooper-hewitt-book.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
