@font-face {
   font-family: "league-spartan";
   src: url("/assets/fonts/leaguespartan-bold.woff2") format("woff2"),
        url("/assets/fonts/leaguespartan-bold.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "cooper-hewitt-book";
   src: url("/assets/fonts/cooper-hewitt-book.woff2") format("woff2"),
        url("/assets/fonts/cooper-hewitt-book.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: "cooper-hewitt-light";
   src: url("/assets/fonts/cooper-hewitt-light.woff2") format("woff2"),
        url("/assets/fonts/cooper-hewitt-light.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}


@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
