@font-face {
   font-family: "prospectus-large";
   src: url("/assets/fonts/ProspectusLBld.woff2") format("woff2"),
        url("/assets/fonts/ProspectusLBld.woff") format("woff");
   font-weight: normal;
   font-style: normal; 
}

@font-face {
   font-family: "prospectus-medium";
   src: url("/assets/fonts/ProspectusMReg.woff2") format("woff2"),
        url("/assets/fonts/ProspectusMReg.woff") format("woff");
   font-weight: normal;
   font-style: normal; 
}

@font-face {
   font-family: "prospectus-small";
   src: url("/assets/fonts/ProspectusSReg.woff2") format("woff2"),
        url("/assets/fonts/ProspectusSReg.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
 
@font-face {
   font-family: "cooper-hewitt-book";
   src: url("/assets/fonts/cooper-hewitt-book.woff2") format("woff2"),
        url("/assets/fonts/cooper-hewitt-book.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
