// ==========================================================================
// General Base styles
// ==========================================================================
// Imports for project

//third party 
@import "partials/h5bp";
@import "bourbon/bourbon";
@import "neat/neat"; 

//base materials  
@import "partials/typography";
@import "partials/mixins";

// Establishes box model for site.
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
 }
 
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "grey-sans-regular", arial, sans-serif;
  @include clearfix;
}

p { 
  line-height: 1.6;
  max-width: 48em; 
} 

article {
  max-width: 45em;
  margin: 0 auto;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  user-select: none;
}

html {
  min-height: 100%;
  min-width: 17.5em;
  font-size: 16px;

  @include mq(28em) {
    font-size: 20px;
  }

  @include mq(48em) {
    font-size: 18px;
  }

}

h1,h2,h3,h4,h5,h6, p, strong, span {
  color: $text;
}

h1, h2 {
  font-family: "grey-sans-semibold", arial, sans-serif;
}

.is-hidden { 
  display: none;
}

strong {
  font-family: "grey-sans-semibold", arial, sans-serif;
}

// ==========================================================================
// Links and such
// ==========================================================================

a, span.chiclet-button, button.chiclet-button { 
  @include transition(color 400ms ease, background-color 400ms ease, box-shadow 400ms ease);
}

.link--highlight {
  position: relative;
  text-decoration: none;
  z-index: 999;
  color: $blue;
  @include link-animate($blue, #fff);
}
