// ==========================================================================
// General Base styles
// ==========================================================================
// Imports for project

//third party 
@import "partials/h5bp";
@import "bourbon/bourbon";
@import "neat/neat"; 
@import "partials/normalize";

//base materials  
@import "partials/typography";
@import "partials/mixins";

// Establishes box model for site.
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
}
 
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-weight: normal;
  font-family: "grey-sans-regular", arial, sans-serif;
  @include clearfix;
}
 
p { 
  line-height: 1.7;
  max-width: 48em; 
} 

article {
  max-width: 35em;
  margin: 2.3em auto;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  user-select: none;
}

html { 
  min-height: 100%; 
  min-width: 17.5em; 
  font-size: 20px;
}

h1,h2,h3,h4,h5,h6, p, strong, span {
  color: $text;
}

h1, h2 {
  font-family: "grey-sans-semibold", arial, sans-serif;
}

.is-hidden { 
  display: none;
}

strong {
  font-family: "grey-sans-semibold", arial, sans-serif;
}

main[role="main"] {
  width: 80%;
  max-width: 68em;
  margin: 0 auto;
  z-index: 1;

  @include mq(36em) {
    width: 84%;
  }

  @include mq(48em) {
    width: 88%;
  }

  @include mq(56em) {
    width: 94%;
  }
} 

blockquote {
  margin: 0;

  p {
    color: $text-light;
    margin: 0;
  }

  cite {
    color: $text;
    display: inline-block;
    margin-top: 1em;
    font-size: .7em;
  }
}

input, textarea, select {
  font-family: "grey-sans-regular", $sans-stack;
}

dd {
  margin: 0;
}

ul {
  list-style-type: square;
  padding-left: 2em;
}
 
// ==========================================================================
// Links and such
// ==========================================================================

a, span.chiclet-button, button.chiclet-button { 
  @include transition(color 250ms ease, background-color 250ms ease, box-shadow 250ms ease);
}

.link--highlight {
  position: relative;
  text-decoration: none;
  z-index: 999;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  color: $blue;
  @include link-animate($blue, #fff);

  .no-backgroundsize & {
    color: $blue;
    text-decoration: underline;
    background: none;
  }
}
