// ============================================================
// Topbar styling
// ============================================================
 
header.intro {
  z-index: 2;
  padding: 1.8em;
  width: 100%;
  text-align: left; 
  overflow: hidden;
  position:relative;

  background: $blue; 
  background-image: -webkit-radial-gradient(60% 73%, circle, $blue, shade($blue, 18%));
  background-image:    -moz-radial-gradient(60% 73%, circle, $blue, shade($blue, 18%));
  background-image:     -ms-radial-gradient(60% 73%, circle, $blue, shade($blue, 18%)); 
  background-image:      -o-radial-gradient(60% 73%, circle, $blue, shade($blue, 18%));
  background-image:       radial-gradient(circle at 60% 73%, $blue, shade($blue, 18%));
  border-bottom: 1px solid $blue;

  @include clearfix; 
  @include rem(font-size, 1rem); 
  @include box-shadow(0 4px 8px 0 rgba(69,106,200,.3));

  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);

  @include mq(37.5em) {
    display: block;
  } 

  @include mq(52em) {
    display: block;
  } 
}

main.full-width header.intro { 
  height: 100%;
  position: absolute;
  padding-top: 0;

  @include mq(36em) {
    padding-top: 2em;
  }
}

main.full-width .intro-main-svg-frame {
  margin-top: -3em;

  @include mq(36em) {
    margin-top: 0;
  }
}  

.chiclet-button--primary.intro__button {
  margin-top: 2em;
  color: #fff;
  background-color: $blue;
  border-color: #fff;
  margin-left: 0;
  max-width: none;
  margin-bottom: 0;
  width: 100%;
  padding: .7em 1em; 
  font-size: 0.8em;
  
  &:hover {
    color: $blue;
    background-color: #fff;
  }

  @include mq(37.5em) {
    padding: .7em 1.5em;
    max-width: none
  }

  @include mq(40em) {
    max-width: 28em;
  }

  @include mq(52em) {
    max-width: 24em;
    font-size: .83em;
    margin-top: 1.5em;
    @include order(1);
  } 
}

.intro__header {
  width: 100%;
  white-space: nowrap;

  @include mq(37.5em) {
    width: 70%;
    display: inline-block;
    padding-left: .5em;
  }

  @include mq(52em) {
    width: 60%;
    float: left;
    clear: none;
  }
}  

.intro__main-head, .intro__subheader {
  color: #fff;
  font-family: "grey-sans-bold", $sans-stack;
  font-weight: normal;
  margin: 0; 
}

.intro__subheader {
  font-size: 1.1em;
  letter-spacing: 0.02em;
  text-shadow: 1px 1px 2px $dark-blue;

  @include mq(32em) {
    font-size: 1.6em;
  }
}

.intro__main-head {
  font-size: 1.8em;
  letter-spacing: .05em;
  line-height: 1.4;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  text-shadow: 2px 2px 3px $dark-blue;
  text-transform: uppercase;

  span {
    color: inherit;
  }

  @include mq(25em) {
    font-size: 2em;
  }

  @include mq(30em) {
    font-size: 2.6em;
  }

  @include mq(32em) {
    font-size: 2.8em;
  }

  @include mq(37.5em) {
    font-size: 2.6em;
  }

  @include mq(42em) {
    font-size: 2.8em;
  }

  @include mq(52em) {
    line-height: 1.2;
  }

  @include mq(58em) {
    font-size: 3.5em;
  }

  @include mq(64em) {
    font-size: 4em;
  }

  @include mq(70em) {
    font-size: 4.5em;
  }
}

.intro__text { 
  float: none;
  width: 100%;

  @include mq(37.5em) {
    width: 100%;
    text-align: left;
    display: block;
    margin-top: 2.5em;
  }

  @include mq(52em) {
    width: 60%;
    float: left;
    margin: .5em 0 0 0;
    @include flexbox();
    @include flex-direction(column);
  }
}
  
.intro__description {
  color: #fff;
  margin-bottom: 0;

  a {
    color: #fff;
    @include link-animate(#fff, $blue);

    .no-backgroundsize & { 
      color: #fff;
      text-decoration: underline;
      background: none;
    }
  }

  @include mq(52em) {
    margin-top: 0;

    @include order(0);
  }
} 

.intro-main-svg-frame {
  display: inline-block;
  vertical-align: middle;
  border: .5em solid #fff;
  background-color: #fff;
  overflow: hidden;
  width: 8em; 
  height: 8em; 
  float: none; 
  margin: 0 2em 1.5em;
  border-radius: 50%;

  @include mq(37.5em) {
    margin: 0 .5em 0 0;
    float: left;
    display: inline-block;
    width: 5em; 
    height: 5em;
  }

  @include mq(37.5em) {
    width: 6.5em; 
    height: 6.5em;
  }

  @include mq(52em) {
    width: 11em; 
    height: 11em;
    float: left; 
    margin: 0 1.5em;
  }
}

nav[role="navigation"] {
  width: 100%;
  background-color: #fff;
  @include box-shadow(0 2px 4px 0 rgba(3, 33, 67, .4));
  position: relative; 
  z-index: 3;
  font-size: 0.8em;

  @include mq(28em) {
    font-size: 0.9em;
  }

  .nav-logo { 
    height: 4em;
    margin-left: .6em;
    padding: .1em;
    display: inline-block;
    vertical-align: middle;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    height: 4em;
    top: 0;

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      font-size: 1em;
      padding: 1.2em .9em;
    }
  }
} 

// ============================================================
// SVG Styling
// ============================================================

.logo-bar, .logo-block {
  fill: $blue-tint;
  stroke: $blue;  
  stroke-width: 2px;
  stroke-linejoin: bevel;

  @include mq(52em) {
    stroke-width: 1px;
  }
}

.intro-main-svg-icon {
  svg {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  // Fallback image
  img {
    width: 100%;
  }
}

.intro-main-svg-frame {
  .logo-404 {
    width: 100%;
    margin-top: 0.7em;
  }
}

// ============================================================
// Chiclet Button
// ============================================================

.chiclet-button {
  font-family: "grey-sans-semibold", $sans-stack;
  padding: .5em 1.5em;
  text-decoration: none;
  text-align: center;

  margin: 1em auto 0;
  display: block;
  width: 100%;
  max-width: 24em;
  padding: .5em 0;

  border-radius: 6px;
  border: 1px solid $blue;
  color: $blue;

  cursor: hand;
  cursor: pointer;

  background-color: transparent;

  @include box-shadow(2px 2px 2px 0 rgba(0,0,0,.2));

  font-size: .9em;

  &:hover {
    color: #fff;
    background-color: $blue;
  }

  &.disabled {
    background-color: transparent;
    border: 1px solid #afafaf; 
    color: #afafaf;
    pointer-events: none;
  }
}

.chiclet-button--primary {
  width: auto;
  display: block;
  max-width: none;
  margin: 3em 4em;
  padding: .7em 1.5em;
}

// ============================================================
// Contact Form
// ============================================================

.contact {
  @include clearfix;
}

.contact-form__container {
  width: 100%;
  position: relative;
  margin: 0 0 2.5em;

  @include mq(52em) {
    width: 60%;
    float: left;
    margin-right: 4em;
  }

  @include mq(70em) {
    margin-right: 2.2em;
  }

  .chiclet-button {
    @include mq(36em) {
      margin-left: 0;
    }
  }
}

.contact-form__container {
  position: relative;
  @include clearfix;
}

.contact-form__container:before {
  content: '';
  background: #fff; 
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: -1%;
  opacity: 0;
  @include transition(opacity 250ms $swift-out);
}

.contact-form__container.is-loading:before {
    opacity: .8;
    width: 101%;
    height: 102%; 
}

.loader {
  width: 7em;
  height: 7em;
  position: absolute; 
  @include calc(top, "50% - 3.5em", 40%);
  @include calc(left, "50% - 3.5em", 40%);
  border-radius: 50%;
  border: .15em solid $blue;
  border-left-color: transparent;

  -webkit-animation: spin-loader 750ms infinite linear;
  animation:         spin-loader 750ms infinite linear;
}

@-webkit-keyframes spin-loader {
  0% {   -webkit-transform: rotate(0deg);   transform: rotate(0deg);   }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
 
@keyframes spin-loader {
  0% {   -webkit-transform: rotate(0deg);   transform: rotate(0deg);   }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

label, fieldset {
  display: block;
  line-height: 1.8;
  margin-top: 1.75em;
}

fieldset {
  margin-bottom: -.25em;
}

h3 {
  font-size: 1.5em;
  font-family: "grey-sans-semibold", $sans-stack;
  @include rem(margin, 1rem 0 0);
}

label:first-child {
  margin-top: 1em;
}

input {
  @include rem(font-size, 1rem);
  width: 100%;
  @include rem(min-height, 2rem);
}

input[type="text"], input[type="tel"], input[type="email"], textarea {
  @include rem(padding, .5rem .6rem);
  display: block;
  border: 1px solid #B9B9B9;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  background-color: #FAFAFA;
  margin-top: .2em;
  outline: 0;
  max-width: 33em;

  &:focus {
    border-color: lighten($blue, 15%);
    box-shadow: inset 0 1px 3px #ddd, 0 0 5px rgba(lighten($blue, 15%), 0.7);
    outline: 0;
  }
}

.contact-options {
  @include clearfix;
}

.contact-options label {
    display: inline-block;
    width: auto;
    margin: .5em 2em .5em 0;
    height: 1em;
} 

input[type="radio"], input[type="checkbox"] { 
  width: 1.2em;
  height: 1.2em;
  @include rem(margin-right, .7rem);
  vertical-align: text-bottom; 
  display: inline-block;  
} 

.input-note {
  color: $text-light;
  display: block;

  & + p {
    width: 100%;
    max-width: 37em;
  }
}

textarea {
  width: 100%;
  @include rem(font-size, 1rem);
}

button.chiclet-button {
  margin-top: 1.5em;
}

small.error {
  color: darken($error-color, 45%);  
  display: block;
  clear: left;
  @include transition(max-height 250ms $swift-out);
  max-height: 2em;

  &.is-hidden {
    max-height: 0;
  }
}
 
label.error { 
  input, textarea {
    background-color: lighten($error-color, 5%);
    border-color: darken($error-color, 25%);

    &:focus {
      border-color: darken($error-color, 40%);
      box-shadow: inset 0 1px 3px #ddd, 0 0 5px rgba(darken($error-color, 30%), 0.7);
      outline: 0;
    }

    &:hover {
      border-color: darken($error-color, 40%);
    }
  }
}

.about {
  width: 100%;
  @include rem(margin, 1rem 0);

  @include mq(52em) {
    width: 29%;
    float: left;
  }
}

.about__mug {
  width: 100%;
  max-width: 8em;
  float: right;
  border-radius: 50%;
  margin: 3em 0 1em 1em;

  @include mq(28em) {
    max-width: 10em;
  }

  @include mq(36em) {
    max-width: 11em;
  }

  @include mq(52em) {
    float: none;
    max-width: none;
    height: auto;
    margin: 0;
  }
}

// ============================================================
// Home page styling
// ============================================================

.section-header {
  margin: .7em auto .5em; 
  width: 100%;
  font-size: 2em;
  font-family: "grey-sans-semibold", arial, sans-serif;
  text-align: center;
  text-shadow: 2px 2px 3px tint($text, 60%); 

  @include mq(36em) {
    font-size: 2.65em;
  }

  @include mq(60em) {
    font-size: 3.2em;
    margin: .7em auto .5em; 
  }
}

.section-main-image {
  margin-bottom: 1.5em;
}

.section-content {
  margin: 0 0 2.5em;

  @include mq(52em) {
    margin-left: 3%;
  }
}

.section-text {
    p:first-child { 
      margin-top: 0;
    }
}

.portfolio--case-study {
  figure {
    @include clearfix;
    width: 100%;
    max-width: 68em;
  }

  p:first-child {
    margin-top: 0;
  }

  .chiclet-button {
    margin-top: 1.5em;
  }
} 

.portfolio {
  border-bottom: 1px solid #E7EEF2;
  clear: both;
  position: relative;

  &:after {
    display: block;
    content: "";
    width: 7px;
    height: 7px;
    border: #E7EEF2 1px solid;
    position: absolute;
    bottom: -5px;
    left: 50%;
    margin-left: -5px;
    background: #FFF;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    box-shadow: #FFF 0 0 0 5px;
  }
}

.jack {  
  .section-text {
    display: inline-block;
    vertical-align: top;
    @include clearfix;

    @include mq(36em) {
      display: inline;
    }

    @include mq(52em) {
      display: inline-block;
      vertical-align: top;
      width: 60%;
      max-width: 33em;
      float: left; 
    }
  }

  .device__frame.jack-image {
    width: 100%;

    @include mq(32em) {
      width: 34%;
      float: left;
      margin-right: 4%;
      min-width: 15em;
    }

    @include mq(52em) {
      float: right;
      margin: 0 1% 0 2%;
    }

    @include mq(70em) {
      margin: 0 3% 0 2%;
    }

    img {
      @include mq(70em) {
        padding-left: 7.5%;
      }
    }
  }

  .section-secondary-image {
    margin: .8em 0 0 0;

    @include mq(52em) {
      margin-top: 1em;
      clear: left;
    }
 
    img {
      width: 100%;
      max-width: 466px;
      border-bottom: 2px solid $blue;
      padding-bottom: 1em;

      @include mq(48em) {
        border: 0;
        padding: 0 1.2em 0 0;
        border-right: 2px solid $blue;
      }
    }
    
    figcaption {
      display: inline-block;
      vertical-align: top;
      font-size: .9em;
      line-height: 1.6; 
      color: $text-light;
      margin-top: 1em;
      width: 100%;

      @include mq(32em) {
        width: 80%;
      }

      @include mq(48em) {
        font-size: .8em;
        line-height: 1.5;
        margin: 0 0 0 1.2em;
        width: 12%;
        min-width: 10em;
      }
    }
  }
}

.ages {
  figure {
    max-width: 35em;
    margin: 0 auto 2.5em;
    
    @include mq(52em) {
      margin-left: 3%;
      max-width: 68em;
    }

    .browser {
      @include mq(70em) {
        width: 58.5%;
      }
    }
  }

  figcaption {
    width: 100%;

    @include mq(52em) {
      float: left;
      width: 30%;
      max-width: 25em; 
    }
  }

  .section-main-image {
    @include mq(52em) {
      float: left; 
      width: 60%;
      height: auto;
      max-width: 40em;
      margin: 0 2em 0 0;
    }
  }
}

.rdes {
  figure { 
    @include mq(48em) {
      padding-right: 1em;
    }

    @include mq(70em) {
      padding-right: 0;
    }
  }

  .section-main-image {
    @include mq(48em) {
      float: left; 
      width: 58.5%;
      height: auto;
      max-width: 40em;
      margin: 0 2em 0 0;
    }
  }


  figcaption {
    width: 100%;

    @include mq(48em) {
      display: inline;
      float: none;
      width: 30%;
      max-width: 25em; 
    }

    @include mq(55em) {
      float: left;
      display: inline-block;
      vertical-align: top;
    }
  }
}

// ============================================================
// Device Screenshot Examples
// ============================================================

.browser {
  display: inline-block;
  border: 1px solid lighten(#96a0a2, 10%);
  background-color: $blue-tint;
  padding-top: 1.3em;
  border-radius: .3em .2em; 
  position: relative;
  overflow: hidden;

  @include mq(37.5em) {
    padding-top: 1.5em;
  }

  &:before {
    position: absolute;
    left: 0px;
    top: 0; 
    content: "\2022\2022\2022";
    color: tint($dark-blue, 40);
    font-size: 120px;
    letter-spacing: -10px;
    font-weight: 300;
    line-height: .6rem;

    @include mq(36em) {
      line-height: .7rem;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.device__frame {
  display: inline-block;
  @include clearfix;

  &.responsive-image {
    margin: 0 auto;
    float: none;
    display: block;

    @include mq(37.5em) {
      float: left;
      width: 12.5em; 
      margin: 0 1.5em 0 0;
    }

    @include mq(48em) {
      margin-left: -2em;
    }

    @include mq(58em) {
      margin-left: -6em;
    }
  }
}

.device__caption {
  width: auto;
  display: inline-block;
  font-size: .8em;
  color: #737373;
  margin-bottom: 1em;
}

.device__image {
  @include clearfix;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  float: left;
}

.device__image--ipad {
  background-image: url("/img/apple-ipad.svg");
  width: 100%;
  height: auto;
  padding: 15% 6.5% 15% 7.7%;
  background-size: 100%;
}

.device__image--android {
  background-image: url('/img/android-nexus.svg');
  width: 12.5em;
  height: 24em;
  padding: 3.2em 1.2em 3.4em;
}

// ============================================================
// Case Study Styling
// ============================================================

#headlineNumber { 
  width: 2em;
  display: inline-block;
  text-align: right;
}

.intro.case-study__header {
  text-align: center;
  padding: 1.8em 1em;

  @include mq(32em) {
    text-align: left;
  }

  @include mq(48em) {
    padding: 1.8em;
  }

  .header__intro {
    float: left;
    width: auto;
  }

  .intro__description {
    float: left;
    max-width: 46em;

    @include mq(52em) {
      width: 18em;
      margin: 0.1em 0 0 1.7em;
    }

    @include mq(59em) {   
      width: 21em;
      margin: 0.1em 0 0 3em;
    }
    
    @include mq(65em) {
      width: 23em;
      margin: 0.4em 0 0 3em;
    }
  }

  .intro__main-head {
    @include mq(25em) {
      font-size: 3em;
    }

    @include mq(30em) {
      font-size: 3.5em;
    }

    @include mq(37.5em) {
      font-size: 3.1em;
      line-height: 1.2;
    }

    @include mq(52em) {
      font-size: 3em;
    }

    @include mq(58em) {
      font-size: 3.5em;
    }

    @include mq(64em) {
      font-size: 4em;
    }

    @include mq(70em) {
      font-size: 4.5em;
    }
  }
}

.case-study__title--number {
  width: 2.1em;
  display: inline-block;
  text-align: right;
  margin-right: .1em;
  @include transition(opacity 500ms ease-in);
  opacity: 0;
}

.case-study__subhead {
  color: #fff;
  display: block;
  text-align: center;
  width: 100%;
  font-family: "grey-sans-semibold", arial, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 3px $dark-blue; 
  font-size: 1.6em;
  padding: .7em 1em 0;
  clear: left;

  @include mq(36em) {
    font-size: 1.3em;
  }
}

.is-active {
  opacity: 1;
}


.age {
  display: inline-block;
  color: $blue-tint;
  text-shadow: 1px 1px 1px $blue; 
  background-color: rgba(69, 106, 200, 1);
  border-radius: 50%;
  text-align: center;
  padding-top: 0.6em;
  position: absolute; 
  @include transition(opacity 500ms ease-in);
  opacity: 0;
  z-index: -2;
  pointer-events: none;

  width: 2.5em;
  height: 2.5em;
  font-size: .75em;

  @include mq(36em) {
    font-size: 1.3em;
  }

  &.is-active {
    opacity: 0.35;
  }

  .no-js & {
    opacity: 0.35;
  }
} 

.age--1 {
  top: -4%;
  right: 40%;
}

.age--2 {
  top: 15%;
  left: 2%;
}

.age--3 {
  top: 5%;
  left: 27%;
}

.age--4 {
  right: 3%;
  bottom: 7%;
}

.age--5 {
  bottom: 4%;
  right: 35%;
}

.age--6 {
  bottom: 5%;
  left: 13%;
}

.age--7 {
  top: 8%;
  right: 10%;
}

.age--8 {
  bottom: 16%; 
  right: 54%;
} 

.age--9 { 
  top: 51%;
  right: 18%;
}
 
// ============================================================
// Article Styling
// ============================================================

.article__image {  
  width: 100%;
  margin: 0 0 2em;
  float: right;

  img {
    width: 100%;

    @include mq(32em) {
      width: 60%;
      float: left;
    }

    @include mq(40em) {
      width: 70%;
    }
  } 
}   

.article__quote {
  padding: 1em 0;
  border-top: 2px solid $blue; 
  width: 100%; 
  margin: 2em 0 0;

  @include mq(32em) {
    width: 30%;
    float: left;
    margin: 0 0 0 5%; 
  }

  @include mq(40em) {
    width: 26%;
    margin-left: 4%;
  }

  p {
    font-size: 1.2em;
    line-height: 1.8;
  }
}

.article__quote--featured {
  text-align: center;
  font-size: .9em;
  margin: 1.5em 8%;

  @include mq(55em) {
    font-size: 1.1em;
    margin: 1em -5%;
    text-align: center;
  }

  @include mq(63.75em) {
    font-size: 1.3em;
    margin: 1.5em -17%;
    text-align: center;
  }

  p {
    line-height: 2;
  }

  cite {

    @include mq(55em) {
      font-size: .6em;
    }
  }
}

.infobox {
  margin: 0;
  padding: 1.3em 0 1.9em;
  font-size: .8em;
  border: solid $blue;
  border-width: 2px 0;
  margin: 0 0 1.7em 0;

  @include mq(30em) {
    font-size: 1em;
  }

  @include mq(37.5em) {
    margin: 0 0 1em 3em;
    padding: 0 0 0 1.7em;
    float: right;
    border-width: 0 0 0 2px;
    max-width: 18em; 
    font-size: .8em;
  }

  @include mq(54em) {
    margin-right: -10%;
  }

  @include mq(62em) {
    margin-right: -20%;
    max-width: 20em;
  }

  dl {
    margin-bottom: 0;  
  }
  dd {
    margin-top: .25em;
  } 
  ul {
    margin-top: 0;
  }
}

.infobox--header {
  font-family: "grey-sans-semibold", $sans-stack;
  font-size: 1.3em;
  margin: 0 0 .5em;
}

.infobox--subheader {
  font-weight: bold;
  margin-top: 1em;
}

// ============================================================
// Footer Styling
// ============================================================

.site-footer {
  background-color: $blue;
  position: relative;
  @include rem(font-size, .85rem);
  width: 100%;
  height: 8em;
  @include box-shadow(inset 0 7px 7px -5px rgba(3, 33, 67, 0.4));

}

.site-footer ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style-type: none;
  color: #ffffff;

  li {
    margin-top: .2em;
  }

  a {
    color: #ffffff;
  }
}

.footer-contact {
  text-align: right;
  position: absolute;
  bottom: 1.5em;
  right: 5%;
  padding: 0;
}

.site-footer {

  ul {
    float: none;
  }

  a.link--highlight {
    color: #fff;
    @include link-animate(#fff, $blue);

    .no-backgroundsize & {
      color: #fff;
      text-decoration: underline;
      background: none;
    }
  }
}

.site-footer, header.intro {
  .email-link {
    color: #fff;
  }
}