@import "base";

html {
  background: $dark-blue; /* fallback for non-supporting browsers */
  background-image: url("../img/texture.svg"), -webkit-gradient(radial, center center, 0, center center, 141, from(lighten($dark-blue, 14%)), to(darken($dark-blue, 5%))); /* old WebKit Syntax */  
  background-image: url("../img/texture.svg"), -webkit-radial-gradient(center center, circle contain, lighten($dark-blue, 14%) 0%, darken($dark-blue, 5%) 100%); /* New WebKit syntax */  
  background-image: url("../img/texture.svg"), -moz-radial-gradient(center center, circle contain, lighten($dark-blue, 14%) 0%, darken($dark-blue, 5%) 100%);  
  background-image: url("../img/texture.svg"), -o-radial-gradient(center center, circle contain, lighten($dark-blue, 14%) 0%, darken($dark-blue, 5%) 100%); /* Opera (13?) */  
  background-image: url("../img/texture.svg"), radial-gradient(47em circle at center 29%, lighten($dark-blue, 14%), darken($dark-blue, 5%));

  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-size: auto, cover;
  background-repeat: repeat;

  min-height: 100%;
  min-width: 100%;

}

.logo {
  flex: 1;
  width: 90%;
  margin-top: 4%;
  @include rem(max-width, 26rem);

  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  pointer-events: none;
}

body {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
  margin: 0;
}

h1, h3 {
  flex: 1;
	color: #e5f7ff;
	text-align: center;
  @include rem(letter-spacing, .05rem);
  -webkit-font-smoothing: antialiased;
}

h1 {
  width: 90%;
	font-family: "grey-sans-bold", arial, sans-serif;
	@include rem(font-size, 1.2rem);
  text-transform: uppercase;
  text-shadow: 3px 3px 1px rgba(0,0,0,.3);
}

h3 {
	font-family: "grey-sans-light", arial, sans-serif;
  @include rem(font-size, 1rem);
  letter-spacing: normal;
}

a {
  text-decoration: underline;
  font-family: "grey-sans-regular", arial, sans-serif;

  &:link {
    color: $light-blue;
  }     
  &:visited {
    color: $light-blue;
  }
  &:hover {
    color: $blue;
  }  
  &:active {
    color: $light-blue;
  }
  &:focus {
    color: $blue;
    border: 1px solid $light-blue;
  }
}

@media only screen and (min-width: 30em) {
   .logo {
      margin-top: 2%;
   }
   h1 {
    @include rem(font-size, 1.7rem);
   }
 }

@media only screen and (min-width: 45em) {
  h1 {

  }
}

@media only screen and (min-width: 90em) {
  .logo {
    @include rem(max-width, 42rem);
  }
}  