@import "base";

// ============================================================
// Sidebar/topbar styling
// ============================================================

header {
  background: $blue;
  background-image: -webkit-gradient(radial, 16% 28%, 0, 16% 28%, 141, from(shade($blue, 12%)), to($blue));
  background-image: -webkit-radial-gradient(16% 28%, circle, shade($blue, 12%), $blue);
  background-image:    -moz-radial-gradient(16% 28%, circle, shade($blue, 12%), $blue);
  background-image:     -ms-radial-gradient(16% 28%, circle, shade($blue, 12%), $blue); 
  background-image:      -o-radial-gradient(16% 28%, circle, shade($blue, 12%), $blue);
  background-image:       radial-gradient(circle at 16% 28%, shade($blue, 12%), $blue);

  border-bottom: 1px solid $blue;
  @include box-shadow(0 4px 8px 0 rgba(69,106,200,.3)); 
  z-index: 2;
}

.intro {

  @include rem(font-size, 1rem); 
  @include clearfix;

  width: 100%;
  text-align: left;
  padding: 1.5em 0 3em;

  .intro-main {
    width: 90%;
    margin: 0 auto;

    @include mq(52em) {
      width: 94%;
      max-width: 68em;
      padding-left: 6%;
    }
    
    @include clearfix;
  }

  aside {
    clear: both;

    @include mq(52em) {
      clear: none;
      float: left;
      width: 67%;
      width: -webkit-calc(100% - 16em); 
      width: -moz-calc(100% - 16em); 
      width: calc(100% - 16em); 
    }
  }

  p {
    color: #fff;

    a {
      color: #fff;
      @include link-animate(#fff, $blue);
    }
  }

  h1 {
    font-size: 2.3em;
    line-height: 1.4;

    margin: 0;
    padding: 0 0 0 .2em;
    display: inline-block;
    vertical-align: middle;

    font-family: "grey-sans-semibold", $sans-stack;
    color: #fff;
    text-shadow: 2px 2px 3px $dark-blue; 

    @include mq(32em) {
      font-size: 1.7em;
    }

    @include mq(38em) {
      font-size: 2em;
      padding-left: .75em;
    }

    @include mq(52em) {
      font-size: 2.5em;
      padding: 0;
      float: left;
    }
  }

  .intro-main-runin {
    font-size: .45em;
    color: #fff;
    font-family: "grey-sans-bold", $sans-stack;
    text-shadow: 1px 1px 1px $dark-blue; 
    display: block;
    text-transform: uppercase;
  }

  .chiclet-button {
    padding: .5em 0;
    max-width: 100%;
    margin-top: 2em;
    color: #fff;
    background-color: $blue;
    border-color: #fff;

    &:hover {
      color: $blue;
      background-color: #fff;
    }

    @include mq(52em) {
      max-width: 18em;
      margin-top: .5em;
      float: left;
    }
  }
}

main[role="main"] {
  width: 94%;
  max-width: 68em;
  padding: 0 3%;
  margin: 0 auto;
  z-index: 1;
} 

nav[role="navigation"] {
  width: 100%;
  background-color: #fff;
  @include box-shadow(0 2px 4px 0 rgba(3, 33, 67, .4));
  position: relative;
  z-index: 3;
  
  .nav-logo { 
    height: 4em;
    margin-left: .6em;
    padding: .1em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    height: 4em;
    top: 0;

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      font-size: 1em;
      padding: 1.2em .9em;
    }
  }
}

// ============================================================
// SVG Styling
// ============================================================

.logo-bar, .logo-block {
  fill: $blue;
  stroke: $blue;
  stroke-width: 2px;
  stroke-linejoin: bevel;
}

.intro-main-svg-frame {
  display: inline-block;
  vertical-align: middle;

  border: .5em solid #fff;
  background-color: #fff;
  overflow: hidden;
  margin: 0 1em 1em 0;

  width: 4em;
  height: 4em;
  border-radius:  2em;

  @include mq(24em) {
    width: 5em;
    height: 5em;
    border-radius: 2.5em;
  }

  @include mq(38em) {
    width: 7em;
    height: 7em;
    border-radius: 3.5em;
  }

  @include mq(52em) {
    margin: 0 auto;
    width: 11em;
    height: 11em;
    border-radius: 5.5em;
    margin-right: 2.5em;
    float: left;
  }
}

.intro-main-svg-icon {
  
  svg {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  // Fallback image
  img {
    width: 100%;
  }
}

// ============================================================
// Chiclet Button
// ============================================================

.chiclet-button {
  font-family: "grey-sans-semibold", $sans-stack;
  padding: .5em 1.5em;
  text-decoration: none;
  text-align: center;

  margin: 0 auto;
  display: block;
  width: 100%;

  border-radius: 6px;
  border: 2px solid $blue;
  color: $blue;

  cursor: hand;
  cursor: pointer;

  background-color: transparent;

  @include box-shadow(2px 2px 2px 0 rgba(0,0,0,.2));

  font-size: .8em;

  @include mq(22em) {
    font-size: 1em;
  }

  @include mq(25em) {
    @include rem(max-width, 10rem);
    margin-left: 0;
  } 

  @include mq(52em) {
    font-size: .9em;
  }

  &:hover {
    color: #fff;
    background-color: $blue;
  }

  &.disabled {
    background-color: transparent;
    border: 1px solid #afafaf; 
    color: #afafaf;
    pointer-events: none;
  }
}

// ============================================================
// Contact Form
// ============================================================

.contact {
  @include clearfix;
}

.contact-form__container {
  float: left;
  margin-right: 4em;

  @include mq(52em) {
    width: 60%;
  }
}

.contact-form {
  margin: 1em 0 2.5em;
}

label, fieldset {
  display: block;
  line-height: 1.8;
  margin-top: 1.75em;
}

fieldset {
  margin-bottom: -.25em;
}

h3 {
  font-size: 1.5em;
  font-family: "grey-sans-semibold", $sans-stack;
  @include rem(margin, 1rem 0 0);
}

label:first-child {
  margin-top: 1em;
}

input {
  @include rem(font-size, 1rem);
  width: 100%;
  @include rem(min-height, 2rem);
}

input[type="text"], input[type="tel"], input[type="email"], textarea {
  @include rem(padding, .5rem .6rem);
  display: inline-block;
  border: 1px solid #B9B9B9;
  @include box-shadow(inset 0 1px 3px #ddd);
  border-radius: 4px;
  background-color: #FAFAFA;
  margin-top: .2em;
}

.contact-options {
  @include clearfix;
}

.contact-options label {
    display: inline-block;
    width: auto;
    margin: .5em 2em .5em 0;
    height: 1em;
} 

input[type="radio"], input[type="checkbox"] { 
  width: 1.2em;
  height: 1.2em;
  @include rem(margin-right, .7rem);
  vertical-align: middle; 
  display: inline-block; 
}

.input-note {
  color: $text-light;
  display: block;

  & + p {
    width: 100%;
    max-width: 37em;
  }
}

textarea {
  width: 100%;
  @include rem(font-size, 1rem);
}

button.chiclet-button {
  margin-top: 1.5em;
}

input.error, textarea.error {
  border-color: #ffc54a;
  background-color: #FFFAEF;
} 

.about {
  width: 100%;
  @include rem(margin, 1rem 0);

  @include mq(52em) {
    width: 29%;
    float: left;
  }
}

.about__mug {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

// ============================================================
// Home page styling
// ============================================================

.main-rdes-logo {
  background-color: #a4d47e;
}

.section-header {
  margin: 1em auto .7em;
  width: 100%;
  font-size: 2em;
  font-family: "grey-sans-semibold", arial, sans-serif;
  text-align: center;
  text-shadow: 2px 2px 3px $dark-blue; 

  @include mq(60em) {
    font-size: 3.2em;
    margin: .7em auto .5em;
  }

}

.section-main-image {
  margin-bottom: 1.5em;
}

.section-content {
  margin: 0 0 2.5em;

  @include mq(52em) {
    margin-left: 3%;
  }
}

.section-text {
    p:first-child {
      margin-top: 0;
    }
}

.browser {
  display: inline-block;
  border: 1px solid lighten(#96a0a2, 10%);
  background-color: lighten($blue, 40%);
  padding-top: 1.5em;
  border-radius: .3em .2em; 
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    left: 0px;
    top: 0;
    content: "\2022\2022\2022";
    color: tint($dark-blue, 40);
    font-size: 120px;
    letter-spacing: -10px;
    line-height: .7rem;
    font-weight: 300;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.portfolio--case-study {
  figure {
    @include clearfix;
    width: 100%;
    max-width: 68em;

    .section-main-image {
      @include mq(52em) {
        float: left;
        width: 60%;
        height: auto;
        max-width: 32em;
        margin: 0 2em 0 0;
      }
    }

    figcaption {
      width: 100%;

      @include mq(52em) {
        float: left;
        width: 30%;
        max-width: 25em; 
      }

      p:first-child {
        margin-top: 0;
      }

      .chiclet-button {
        font-size: .8em;
        max-width: 100%;
        width: auto;
        display: inline-block;
      }
    }
  }
}

.portfolio {
  border-bottom: 1px solid lighten($blue, 40%);
}

.jack {  
  blockquote {
    font-size: .9em;
    width: 19%;
    margin: .1em 3em 0 0;
    padding: 1em;
    background-color: #ecf5ff;

    .quote-attribution {
      display: block;
      margin-top: 1em;
    }
  }

  blockquote, .section-main-image, .section-text {
    display: inline-block;
    vertical-align: top;
  }

  .section-text {
    @include mq(52em) {
      width: 60%;
      max-width: 33em;
      float: left;
    }
  }

  .section-main-image {
    width: 80%;
    margin: 0 auto 1.5em;

    @include mq(52em) {
      margin: 0 0 0 2em;
      width: 28%;
      float: left;
    }

    @include mq(60em) { 
      width: 26%;
    }

    figcaption {
      margin-top: 1.5em;
    }
  }

  .section-secondary-image {
    margin: 0;

    @include mq(52em) {
      margin-top: 1em;
    }

    img {
      @include mq(52em) {

        padding-right: 1.2em;
        border-right: 2px solid $blue;
      }
    }
    
    figcaption {
      display: inline-block;
      vertical-align: top;
      font-size: .8em;
      color: $text-light;

      @include mq(52em) {
        line-height: 1.5;
        margin-left: 1.2em;
        width: 12%;
        min-width: 10em;
      }
    }

    img {
      width: 95%;
      margin: .5em 0;

      @include mq(52em) {
        width: auto;
        margin: 0;
      }
    }
  }
}

// ============================================================
// Device Frames Styling
// ============================================================

$ipadScreenWidth: 100%;
$ipadScreenHeight: (4/3)*$ipadScreenWidth;

$ipadTotalWidth: $ipadScreenWidth/.8;
$ipadTotalHeight: (4/3)*$ipadTotalWidth;

$secondaryColor: #A0A29B;
$tertiaryColor: #D9DBD2;

.ipad-image {
  width: $ipadTotalWidth;
  height: $ipadTotalHeight;
  padding: (($ipadTotalHeight - $ipadScreenHeight)/2) (($ipadTotalWidth - $ipadScreenWidth)/2);

  border: 2px solid $secondaryColor;
  border-top-left-radius: percentage(($ipadScreenWidth/15%)*(4/3))/100 percentage(($ipadScreenWidth/15%))/100;
  border-top-right-radius: percentage(($ipadScreenWidth/15%)*(4/3))/100 percentage(($ipadScreenWidth/15%))/100;
  border-bottom-left-radius: percentage(($ipadScreenWidth/15%)*(4/3))/100 percentage(($ipadScreenWidth/15%))/100;
  border-bottom-right-radius: percentage(($ipadScreenWidth/15%)*(4/3))/100 percentage(($ipadScreenWidth/15%))/100;

  @include box-shadow(2px 2px 8px lighten(#2E2E2E, 20%));

  background-color: #2E2E2E;
  background-image: -webkit-linear-gradient(top, #2E2E2E, #181818);
  background-image: -moz-linear-gradient(top, #2E2E2E, #181818);
  background-image: -ms-linear-gradient(top, #2E2E2E, #181818);
  background-image: -o-linear-gradient(top, #2E2E2E, #181818);
  background-image: linear-gradient(to bottom, #2E2E2E, #181818);

  position: relative;
  box-sizing: border-box;

  img {
    width: 100%;
    height: auto;
  }

  &:after, &:before {
    content: '';
    z-index: 2;
    position: absolute;
    border-radius: 50%;
  }

  // Camera
  &:after {
    height:percentage(($ipadScreenWidth/45%))/100;
    width: percentage(($ipadScreenWidth/45%)*(4/3))/100;
    background-color: $tertiaryColor;
    border: 1px solid $secondaryColor;
    margin: 0 auto;
    left: 49.5%;
    top: $ipadTotalWidth * .035;
  }

  // Button 
  &:before {
    height: percentage(($ipadScreenWidth/25%))/100;
    width: percentage(($ipadScreenWidth/25%)*(4/3))/100;
    border-radius: 50%;
    background-color: $tertiaryColor;
    border: 2px solid $secondaryColor;
    left: (($ipadTotalWidth/90%)/3)*100%;
    bottom: $ipadScreenWidth * .025;
  }
}

// ============================================================
// Case Study Styling
// ============================================================

.case-study__header {
  position: relative; 
  @include clearfix;
}

.case-study__mosaic {
  width:100%;
  @include flexbox;
  @include flex-wrap(wrap);
  @include clearfix;
}

.case-study__tile {
  background-color: transparent;
  width: 20%;
  border-top-width: 0;
  border-right-width: 0;
  position: relative;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);

  &:nth-child(n+16) {
    display: none;
  }

  @include mq(36em) {
    width: 10%;
    
    &:nth-child(n+16) {
      @include flexbox;
    }
    &:nth-child(n+51) {
      display: none;
    }
  }

  @include mq(56em) {
    width: 5%;

    &:nth-child(n+51) {
      @include flexbox;
    }
  
    &:nth-child(n+81) {
      border-bottom: 0;
    }
  }
}

.case-study__number {
  color: #fff;
  display: none;

  @include mq(56em) {
    font-size: 0.85em;
  }

  @include mq(62em) {
    font-size: 1em;
  }
}

.case-study__tile--image {
  display: none !important;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  @include transition(opacity 250ms ease-in);
}

.case-study__title {
  font-size: 2.2em;
  margin-top: 0;
  text-shadow: 2px 2px 3px $dark-blue; 

  span {
    color: #fff;
  }
}

.case-study__subhead {
  color: #fff;
  display: block;
  text-align: center;
  width: 100%;
  font-family: "grey-sans-semibold", arial, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 3px $dark-blue; 
  font-size: 1.3em;
  padding: 0 1em;
}

.case-study__h-group {
  top: 1.5em;
  position: absolute;
  width: 100%;
  font-size: .7em;

  @include mq(22em) {
    font-size: .8em;
    padding: 0 .5em;
    top: 2.5em;
  }
 
  @include mq(32em) {
    top: 3.2em;
  }
  
  @include mq(36em) {
    font-size: .95em;
  }

  @include mq(39em) {
    font-size: 1em;
  }

  @include mq(42em) {
    font-size: 1.1em;
  }

  @include mq(48em) {
    font-size: 1.2em;
    top: 4em;
  }
  
  @include mq(56em) {
    font-size: 1em;
    top: 3em;
  }
 
  @include mq(60em) {
    font-size: 1.2em;
    top: 2.7em;
  }

  @include mq(65em) {
    top: 25%;
  }
}

 
#headline-number {
  width: 2.1em;
  display: inline-block;
  text-align: right;
  margin-right: .1em;
  @include transition(opacity 500ms ease-in);
  opacity: 0;
}

.is-active {
  opacity: 1 !important;
}

// ============================================================
// Article Image
// ============================================================

.article__image { 
  width: 400px;
  margin-top: 1em;
} 

.article__quote {
  font-size: 1.2em;
  line-height: 1.6;
  width: 100%;
  margin: 1.5em 0;
  padding: 1em 0;
  border: solid tint($blue, 50);
  border-width: 2px 0;
 
  @include mq(28em) {
    float: right; 
    width: 8em; 
    border: solid tint($blue, 50);
    border-width: 0 0 0 2px; 
    padding: 0 0 0 1em; 
    margin: 0 1em 1em 2em;  
  }
}

// ============================================================
// Footer Styling
// ============================================================

footer {
  background-color: $blue;
  position: relative;
  @include rem(font-size, .85rem);
  width: 100%;
  height: 8em;
  @include box-shadow(inset 0 7px 7px -5px rgba(3, 33, 67, 0.4));

}

footer ul {
  padding: 2em 3.5%;
  margin: 0;
  display: inline-block;
  list-style-type: none;
  color: #ffffff;

  a {
    color: #ffffff;
  }
}

.footer-contact {
  text-align: right;
  position: absolute;
  bottom: 1.5em;
  right: 5%;
  padding: 0;
}

footer nav {
  padding-top: 0;
  display: inline-block;
  vertical-align: middle;

  border-right: 1px solid #fff;

  ul {
    padding: 0;
    display: block;
    font-family: 'grey-sans-bold', $sans-stack;
    text-transform: uppercase;
  } 

  li {  
    border-top: 1px solid #fff; 

    &:first-child { 
      border-top: none; 
    }  

    a {
      display: inline-block; 
      padding: .65em 4em .55em 1.7em;
      width: 100%;
    
      &:hover { 
        background-color: #badaff;
        color: $blue;
        cursor: pointer;
        cursor: hand; 
      }  
    }
  }
}
