@import "base";

// ============================================================
// Topbar styling
// ============================================================

header {
  background: $blue;
  background-image: -webkit-gradient(radial, 16% 28%, 0, 16% 28%, 141, from(shade($blue, 12%)), to($blue));
  background-image: -webkit-radial-gradient(16% 28%, circle, shade($blue, 12%), $blue);
  background-image:    -moz-radial-gradient(16% 28%, circle, shade($blue, 12%), $blue);
  background-image:     -ms-radial-gradient(16% 28%, circle, shade($blue, 12%), $blue); 
  background-image:      -o-radial-gradient(16% 28%, circle, shade($blue, 12%), $blue);
  background-image:       radial-gradient(circle at 16% 28%, shade($blue, 12%), $blue);

  border-bottom: 1px solid $blue;
  @include box-shadow(0 4px 8px 0 rgba(69,106,200,.3)); 
  z-index: 2;
}

.intro {

  @include rem(font-size, 1rem); 
  @include clearfix;

  width: 100%;
  text-align: left;
  padding: 1.5em 0 3em;

  .intro-main {
    width: 90%;
    margin: 0 auto;

    @include mq(52em) {
      width: 94%;
      max-width: 68em;
      padding-left: 6%;
    }
    
    @include clearfix;
  }

  aside {
    clear: both;

    @include mq(52em) {
      clear: none;
      float: left;
      width: 67%;
      width: -webkit-calc(100% - 16em); 
      width: -moz-calc(100% - 16em); 
      width: calc(100% - 16em); 
    }
  }

  p {
    color: #fff;

    a {
      color: #fff;
      @include link-animate(#fff, $blue);
    }
  }

  h1 {
    font-size: 2.3em;
    line-height: 1.4;

    margin: 0;
    display: inline-block;
    vertical-align: middle;

    font-family: "grey-sans-semibold", $sans-stack;
    color: #fff;
    text-shadow: 2px 2px 3px $dark-blue; 

    @include mq(38em) {
      padding: 0 0 0 .2em;
      font-size: 3em;
    }

    @include mq(52em) {
      font-size: 2.5em;
      padding: 0;
      float: left;
    }
  }

  .intro-main-runin {
    font-size: .45em;
    color: #fff;
    font-family: "grey-sans-bold", $sans-stack;
    font-weight: normal;
    text-shadow: 1px 1px 1px $dark-blue; 
    display: block;
    text-transform: uppercase;
  }

  .chiclet-button--primary {
    margin-top: 2em;
    color: #fff;
    background-color: $blue;
    border-color: #fff;
    margin-left: 0;
    max-width: none;
    margin-bottom: 0;
    width: 100%;

    @include mq(48em) {
      max-width: 29em;
    }

    &:hover {
      color: $blue;
      background-color: #fff;
    }
 
    @include mq(52em) {
      max-width: 20em;
      margin-top: .5em;
      float: left;
    } 
  }
}

nav[role="navigation"] {
  width: 100%;
  background-color: #fff;
  @include box-shadow(0 2px 4px 0 rgba(3, 33, 67, .4));
  position: relative; 
  z-index: 3;
  
  .nav-logo { 
    height: 4em;
    margin-left: .6em;
    padding: .1em;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    height: 4em;
    top: 0;

    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      vertical-align: middle;
      font-size: 1em;
      padding: 1.2em .9em;
    }
  }
} 

// ============================================================
// SVG Styling
// ============================================================

.logo-bar, .logo-block {
  fill: $blue;
  stroke: $blue;
  stroke-width: 5px;
  stroke-linejoin: bevel;

  @include mq(38em) {
    stroke-width: 3px;
  }

  @include mq(52em) {
    stroke-width: 2px;
  }
}

.intro-main-svg-frame {
  display: inline-block;
  vertical-align: middle;

  border: .5em solid #fff;
  background-color: #fff;
  overflow: hidden;
  margin: 0 1em 1em 0;

  width: 4em;
  height: 4em;
  border-radius:  2em;

  @include mq(24em) {
    width: 5em;
    height: 5em;
    border-radius: 2.5em;
  }

  @include mq(38em) {
    width: 7em;
    height: 7em;
    border-radius: 3.5em;
  }

  @include mq(52em) {
    margin: 0 auto;
    width: 11em;
    height: 11em;
    border-radius: 5.5em;
    margin-right: 2.5em;
    float: left;
  }
}

.intro-main-svg-icon {
  
  svg {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  // Fallback image
  img {
    width: 100%;
  }
}

// ============================================================
// Chiclet Button
// ============================================================

.chiclet-button {
  font-family: "grey-sans-semibold", $sans-stack;
  padding: .5em 1.5em;
  text-decoration: none;
  text-align: center;

  margin: 1em auto 0;
  display: block;
  width: 100%;
  max-width: 24em;
  padding: .5em 0;

  border-radius: 6px;
  border: 2px solid $blue;
  color: $blue;

  cursor: hand;
  cursor: pointer;

  background-color: transparent;

  @include box-shadow(2px 2px 2px 0 rgba(0,0,0,.2));

  font-size: .9em;

  &:hover {
    color: #fff;
    background-color: $blue;
  }

  &.disabled {
    background-color: transparent;
    border: 1px solid #afafaf; 
    color: #afafaf;
    pointer-events: none;
  }
}

.chiclet-button--primary {
  width: auto;
  display: block;
  max-width: none;
  margin: 3em 4em;
  padding: .7em 1.5em;
}

// ============================================================
// Contact Form
// ============================================================

.contact {
  @include clearfix;
}

.contact-form__container {
  width: 100%;

  @include mq(52em) {
    width: 60%;
    float: left;
    margin-right: 4em;
  }

  @include mq(70em) {
    margin-right: 2.2em;
  }

  .chiclet-button {
    @include mq(36em) {
      margin-left: 0;
    }
  }
}

.contact-form {
  margin: 1em 0 2.5em;
}

label, fieldset {
  display: block;
  line-height: 1.8;
  margin-top: 1.75em;
}

fieldset {
  margin-bottom: -.25em;
}

h3 {
  font-size: 1.5em;
  font-family: "grey-sans-semibold", $sans-stack;
  @include rem(margin, 1rem 0 0);
}

label:first-child {
  margin-top: 1em;
}

input {
  @include rem(font-size, 1rem);
  width: 100%;
  @include rem(min-height, 2rem);
}

input[type="text"], input[type="tel"], input[type="email"], textarea {
  @include rem(padding, .5rem .6rem);
  display: block;
  border: 1px solid #B9B9B9;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  background-color: #FAFAFA;
  margin-top: .2em;
  outline: 0;
  max-width: 33em;

  &:focus {
    border-color: lighten($blue, 15%);
    box-shadow: inset 0 1px 3px #ddd, 0 0 5px rgba(lighten($blue, 15%), 0.7);
    outline: 0;
  }
}

.contact-options {
  @include clearfix;
}

.contact-options label {
    display: inline-block;
    width: auto;
    margin: .5em 2em .5em 0;
    height: 1em;
} 

input[type="radio"], input[type="checkbox"] { 
  width: 1.2em;
  height: 1.2em;
  @include rem(margin-right, .7rem);
  vertical-align: middle; 
  display: inline-block;  
} 

.input-note {
  color: $text-light;
  display: block;

  & + p {
    width: 100%;
    max-width: 37em;
  }
}

textarea {
  width: 100%;
  @include rem(font-size, 1rem);
}

button.chiclet-button {
  margin-top: 1.5em;
}

small.error {
  color: darken($error-color, 45%);  
  display: block;
  clear: left;
  @include transition(max-height 250ms $swift-out);
  max-height: 2em;

  &.is-hidden {
    max-height: 0;
  }
}
 
label.error { 
  input, textarea {
    background-color: lighten($error-color, 5%);
    border-color: darken($error-color, 25%);

    &:focus {
      border-color: darken($error-color, 40%);
      box-shadow: inset 0 1px 3px #ddd, 0 0 5px rgba(darken($error-color, 30%), 0.7);
      outline: 0;
    }

    &:hover {
      border-color: darken($error-color, 40%);
    }
  }
}

.about {
  width: 100%;
  @include rem(margin, 1rem 0);

  @include mq(52em) {
    width: 29%;
    float: left;
  }
}

.about__mug {
  width: 100%;
  max-width: 8em;
  float: right;
  border-radius: 50%;
  margin: 3em 0 1em 1em;

  @include mq(28em) {
    max-width: 10em;
  }

  @include mq(36em) {
    max-width: 11em;
  }

  @include mq(52em) {
    float: none;
    max-width: none;
    height: auto;
    margin: 0;
  }
}

// ============================================================
// Home page styling
// ============================================================

.section-header {
  margin: .7em auto .5em; 
  width: 100%;
  font-size: 2em;
  font-family: "grey-sans-semibold", arial, sans-serif;
  text-align: center;
  text-shadow: 2px 2px 3px tint($text, 60%); 

  @include mq(36em) {
    font-size: 2.65em;
  }

  @include mq(60em) {
    font-size: 3.2em;
    margin: .7em auto .5em; 
  }
}

.section-main-image {
  margin-bottom: 1.5em;
}

.section-content {
  margin: 0 0 2.5em;

  @include mq(52em) {
    margin-left: 3%;
  }
}

.section-text {
    p:first-child { 
      margin-top: 0;
    }
}

.portfolio--case-study {
  figure {
    @include clearfix;
    width: 100%;
    max-width: 68em;
  }

  p:first-child {
    margin-top: 0;
  }

  .chiclet-button {
    margin-top: 1.5em;
  }
}

.portfolio {
  border-bottom: 1px solid lighten($blue, 30%);
  @include clearfix;
  clear: both;
}

.jack {  
  .section-text {
    display: inline-block;
    vertical-align: top;
    @include clearfix;

    @include mq(36em) {
      display: inline;
    }

    @include mq(52em) {
      display: inline-block;
      vertical-align: top;
      width: 60%;
      max-width: 33em;
      float: left; 
    }
  }

  .device__frame.jack-image {
    width: 100%;

    @include mq(32em) {
      width: 34%;
      float: left;
      margin-right: 4%;
      min-width: 15em;
    }

    @include mq(52em) {
      float: right;
      margin: 0 1% 0 2%;
    }

    @include mq(70em) {
      margin: 0 3% 0 2%;
    }

    img {
      @include mq(70em) {
        padding-left: 7.5%;
      }
    }
  }

  .section-secondary-image {
    margin: .8em 0 0 0;

    @include mq(52em) {
      margin-top: 1em;
      clear: left;
    }

    img {
      width: 100%;
      border-bottom: 2px solid $blue;
      padding-bottom: 1em;

      @include mq(32em) {
        width: auto;
      }

      @include mq(48em) {
        border: 0;
        padding: 0 1.2em 0 0;
        border-right: 2px solid $blue;
      }
    }
    
    figcaption {
      display: inline-block;
      vertical-align: top;
      font-size: .9em;
      line-height: 1.6; 
      color: $text-light;
      margin-top: 1em;
      width: 100%;

      @include mq(32em) {
        width: 80%;
      }

      @include mq(48em) {
        font-size: .8em;
        line-height: 1.5;
        margin: 0 0 0 1.2em;
        width: 12%;
        min-width: 10em;
      }
    }
  }
}

.ages {
  figure {
    max-width: 35em;
    margin: 0 auto 2.5em;
    
    @include mq(52em) {
      margin-left: 3%;
      max-width: 68em;
    }

    .browser {
      @include mq(70em) {
        width: 58.5%;
      }
    }
  }

  figcaption {
    width: 100%;

    @include mq(52em) {
      float: left;
      width: 30%;
      max-width: 25em; 
    }
  }

  .section-main-image {
    @include mq(52em) {
      float: left; 
      width: 60%;
      height: auto;
      max-width: 40em;
      margin: 0 2em 0 0;
    }
  }
}

.rdes {
  figure {
    @include mq(48em) {
      padding-right: 1em;
    }

    @include mq(70em) {
      padding-right: 0;
    }
  }

  .section-main-image {
    @include mq(48em) {
      float: left; 
      width: 58.5%;
      height: auto;
      max-width: 40em;
      margin: 0 2em 0 0;
    }
  }


  figcaption {
    width: 100%;

    @include mq(48em) {
      display: inline;
      float: none;
      width: 30%;
      max-width: 25em; 
    }

    @include mq(55em) {
      float: left;
      display: inline-block;
      vertical-align: top;
    }
  }
}

// ============================================================
// Device Screenshot Examples
// ============================================================

.browser {
  display: inline-block;
  border: 1px solid lighten(#96a0a2, 10%);
  background-color: $blue-tint;
  padding-top: 1.5em;
  border-radius: .3em .2em; 
  position: relative;
  overflow: hidden;

  &:before {
    position: absolute;
    left: 0px;
    top: 0; 
    content: "\2022\2022\2022";
    color: tint($dark-blue, 40);
    font-size: 120px;
    letter-spacing: -10px;
    font-weight: 300;
    line-height: .6rem;

    @include mq(36em) {
      line-height: .7rem;
    }
  }

  img {
    width: 100%;
    height: auto;
  }
}

.device__frame {
  display: inline-block;
  @include clearfix;

  &.responsive-image {
    margin: 0;
    float: left;
    margin-left: -6em;
    width: 12.5em; 
    margin: 0 1.5em 0 -6em;
  }
}

.device__caption {
  width: auto;
  display: inline-block;
  font-size: .8em;
  color: #737373;
  margin-top: 1em;
}

.device__image {
  @include clearfix;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  float: left;
}

.device__image--ipad {
  background-image: url("/img/apple-ipad.svg");
  width: 100%;
  height: auto;
  padding: 15% 6.5% 15% 7.7%;
  background-size: 100%;
}

.device__image--android {
  background-image: url('/img/android-nexus.svg');
  width: 12.5em;
  height: 24em;
  padding: 2.2em 0.8em 2.6em;
}

// ============================================================
// Case Study Styling
// ============================================================

.case-study__header {
  position: relative; 
  @include clearfix;
  padding: 1.5em 0;

  @include mq(52em) {
    padding: 1.1em 0 2.1em;
  }
}

.case-study__h-group {
  width: 100%;
  font-size: .7em;
  margin-top: 1em;

  @include mq(22em) {
    font-size: .8em;
    padding: 0 .5em;
  }
  
  @include mq(36em) {
    font-size: .95em;
  }

  @include mq(39em) {
    font-size: 1em;
  }

  @include mq(42em) {
    font-size: 1.1em;
  }

  @include mq(48em) {
    font-size: 1.2em;
    margin-top: 1.2em;
  }
  
  @include mq(56em) {
    font-size: 1em;
  }
 
  @include mq(60em) {
    font-size: 1.2em;
  }
}

.intro .case-study__title {
  font-size: 2.5em;
  margin-top: 0;
  padding: 0 .2em;
  text-shadow: 2px 2px 3px $dark-blue; 

  @include mq(28em) {
    padding: 0 .4em;
  }

  span {
    color: #fff;
  }
}

.case-study__title--number {
  width: 2.1em;
  display: inline-block;
  text-align: right;
  margin-right: .1em;
  @include transition(opacity 500ms ease-in);
  opacity: 0;
}

.case-study__subhead {
  color: #fff;
  display: block;
  text-align: center;
  width: 100%;
  font-family: "grey-sans-semibold", arial, sans-serif;
  text-align: center;
  text-shadow: 1px 1px 3px $dark-blue; 
  font-size: 1.6em;
  padding: .7em 1em 0;
  clear: left;

  @include mq(36em) {
    font-size: 1.3em;
  }
}

.is-active {
  opacity: 1;
}

.age {
  display: inline-block;
  color: $blue;
  width: 2.5em;
  height: 2.5em;
  font-size: .9em;
  background-color: #fff;
  text-align: center;
  padding-top: 0.6em;
  position: absolute; 
  @include transition(opacity 500ms ease-in);
  opacity: 0;
  z-index: -2;

  @include mq(36em) {
    font-size: 1.3em;
  }

  &.is-active {
    opacity: 0.35;
  }

  .no-js & {
    opacity: 0.35;
  }
} 

.age--1 {
  top: 34%;
  right: 39%;
}

.age--2 {
  top: 15%;
  left: 2%;
}

.age--3 {
  top: 5%;
  left: 27%;
}

.age--4 {
  right: 6%;
  bottom: 7%;
}

.age--5 {
  bottom: 20%;
  right: 25%;
}

.age--6 {
  bottom: 5%;
  left: 17%;
}

.age--7 {
  top: 8%;
  right: 3%;
}

.age--8 {
  bottom: 16%; 
  right: 54%;
} 

.age--9 { 
  top: 9%;
  right: 24%;
}
 
// ============================================================
// Article Styling
// ============================================================

.article__image {  
  width: 100%;
  margin: 0 0 2em;
  float: right;

  img {
    width: 100%;

    @include mq(32em) {
      width: 60%;
      float: left;
    }

    @include mq(40em) {
      width: 70%;
    }
  } 
}   

.article__quote {
  padding: 1em 0;
  border: solid tint($blue, 50);
  border-width: 2px 0; 
  width: 100%; 
  margin: 2em 0 0;

  @include mq(32em) {
    width: 30%;
    float: left;
    margin: 0 0 0 5%;
  }

  @include mq(40em) {
    width: 26%;
    margin-left: 4%;
  }

  p {
    font-size: 1.2em;
    line-height: 1.8;
  }
}

.infobox {
  margin: 0 -20% 1em 3em;
  padding-left: 1.7em;
  font-size: .8em;
  float: right;
  border-left: 2px solid tint($blue, 50);
  max-width: 20em;

  dl {
    margin-bottom: 0; 
  }
  dd {
    margin-top: .25em;
  } 
  ul {
    margin-top: 0;
  }
}

.infobox--header {
  font-family: "grey-sans-semibold", $sans-stack;
  font-size: 1.3em;
  margin: 0 0 .5em;
}

.infobox--subheader {
  font-weight: bold;
  margin-top: 1em;
}

// ============================================================
// Footer Styling
// ============================================================

footer {
  background-color: $blue;
  position: relative;
  @include rem(font-size, .85rem);
  width: 100%;
  height: 8em;
  @include box-shadow(inset 0 7px 7px -5px rgba(3, 33, 67, 0.4));

}

footer ul {
  padding: 2em 3.5%;
  margin: 0;
  display: inline-block;
  list-style-type: none;
  color: #ffffff;

  a {
    color: #ffffff;
  }
}

.footer-contact {
  text-align: right;
  position: absolute;
  bottom: 1.5em;
  right: 5%;
  padding: 0;
}

footer {

  ul {
    float: none;
  }

  a.link--highlight {
    color: #fff;
    @include link-animate(#fff, $blue);
  }
}
