// Imports for project

//third party 
// @import "partials/modal";
// @import "partials/mailchimp";
//@import "partials/reset";
@import "partials/h5bp";
@import "partials/pure";

//base materials
@import "partials/typography";
@import "partials/mixins";

// ==========================================================================
// General styles
// ==========================================================================

// Establishes box model for site.
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

html {
  @include rem(min-width, 16rem);
  @include rem(max-width, 150rem);
  height: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

main {
  height: auto;
  overflow: hidden;
}

body {
  height: 100%;
}

// ==========================================================================
// Root font size media queries
// ==========================================================================

@media only screen and (min-width: 24.375em) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 37.5em) {
  html {
    font-size: 19px;
  }
}

@media only screen and (min-width: 48em) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 72em) and (min-height: 41em) {
  html {
    font-size: 17px;
  }
}

@media only screen and (min-width: 105em) {
  html {
    font-size: 22px;
  }
}

@media only screen and (min-width: 150em) {
  html {
    font-size: 24px;
  }
}

body {
  margin: 0 auto;
}

p {
  font-family: $serif-stack;
  @include rem(font-size, 1rem);
  line-height: 150%;
  
  @include rem(margin, 0 0 1rem 0);
  padding: 0;
}

em {
  display: block;
  font-style: italic;
  @include rem(font-size, .9rem);
  @include rem(padding, .8rem 0);  
}

#content {
    background: #fff; 
    margin: 0em;
}

.pure-button {
  @include rem(font-size, .8rem);
  letter-spacing: .1em;
  text-align: center;

  width: auto;
  margin: 0 auto;
  
  color: #000;
  background-color: $main-color;
  box-shadow: 1px 1px 1px rgba(0,0,0,.4);

  &:hover,
  &:focus {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.08)), to(rgba(0,0,0, 0.13)));
      background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.08) 40%, rgba(0,0,0, 0.13));
      background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.08) 40%, rgba(0,0,0, 0.13));
      background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.08) 40%, rgba(0,0,0, 0.13));
      background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.08) 40%, rgba(0,0,0, 0.13));
      background-image: linear-gradient(transparent, rgba(0,0,0, 0.08) 40%, rgba(0,0,0, 0.13));
  }

}

// ==========================================================================
// Nav Styling
// ==========================================================================

a.menu-link {
  float: right;
  display: block;
  padding: 1em;
}

nav[role=navigation] {
  clear: both;
  -webkit-transition: max-height 0.3s ease-out;  
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

nav[role=navigation], #signup-form {
  overflow: hidden;
  max-height: 0;
}

nav[role=navigation].active {
  max-height: 15em;
}

nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid $accent-color;
}

nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  border-bottom: 1px solid $accent-color;
}

// ==========================================================================
// Link Styles
// ==========================================================================

a {
  -webkit-transition: color 0.25s linear;
  -moz-transition:    color 0.25s linear;
  -o-transition:      color 0.25s linear;
  transition:         color 0.25s linear;
}

.general-link, .nav-link {
  @include rem(font-size, .9rem);
}

.general-link {
  &:link, &:visited {
    color: #6688ca;
    text-decoration: underline;
  }
  &:hover {
    text-decoration: none;
    color: #355799;
  }
  &:active, &:focus {
    color: #6688ca;
    text-decoration: underline; 
  }
}

.nav-link {
  &:link, &:visited {
    color: #000;
    text-decoration: underline;
  }
  &:hover {
    text-decoration: none;
    color: #355799;
  }
  &:active, &:focus {
    color: #000;
    text-decoration: underline; 
  }
}

.disabled, .disabled:link, .disabled:visited, .disabled:hover, .disabled:active {
    text-decoration: none;
    color: #888;
}
