/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

.pure-button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-button {
  font-size: 100%;
  *font-size: 90%;
  *overflow: visible;
  padding: .5em 1.5em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  *color: #444;
  border: 1px solid #999;
  border: 0 rgba(0, 0, 0, 0);
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: .1s linear -webkit-box-shadow;
  -moz-transition: .1s linear -moz-box-shadow;
  -ms-transition: .1s linear box-shadow;
  -o-transition: .1s linear box-shadow;
  transition: .1s linear box-shadow; }

.pure-button-hover, .pure-button:hover, .pure-button:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',  endColorstr='#1a000000',  GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0, rgba(0, 0, 0, 0.1));
  background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }

.pure-button:focus {
  outline: 0; }

.pure-button-active, .pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset; }

.pure-button-hidden {
  display: none; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #0078e7;
  color: #fff; }

.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: .8em;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  -webkit-transition: .3s linear border;
  -moz-transition: .3s linear border;
  -ms-transition: .3s linear border;
  -o-transition: .3s linear border;
  transition: .3s linear border;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus {
  outline: 0;
  outline: thin dotted \9;
  border-color: #129FEA; }

.pure-form input[type=file]:focus, .pure-form input[type=radio]:focus, .pure-form input[type=checkbox]:focus {
  outline: thin dotted #333;
  outline: 1px auto #129FEA; }

.pure-form label {
  margin: .5em 0 .2em;
  font-size: 90%; }

.pure-form fieldset {
  margin: 0;
  padding: .35em 0 .75em;
  border: 0; }

.pure-form legend {
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  font-size: 125%;
  color: #333;
  border-bottom: 1px solid #e5e5e5; }

.pure-control-group {
  margin-bottom: .5em; }

.pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0; }

.pure-form-message {
  display: block;
  color: #666;
  font-size: 90%; }

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: .7em 0 0; }

  .pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form label {
    margin-bottom: .3em;
    display: block; }

  .pure-group input[type=text], .pure-group input[type=password], .pure-group input[type=email], .pure-group input[type=url], .pure-group input[type=date], .pure-group input[type=month], .pure-group input[type=time], .pure-group input[type=datetime], .pure-group input[type=datetime-local], .pure-group input[type=week], .pure-group input[type=number], .pure-group input[type=search], .pure-group input[type=tel], .pure-group input[type=color] {
    margin-bottom: 0; }

  .pure-form-message {
    display: block;
    font-size: 80%;
    padding: .2em 0 .8em; } }
@font-face {
  font-family: 'novecento-medium';
  src: url("../fonts/novecento-medium/Novecentowide-Medium-webfont.eot");
  src: url("../fonts/novecento-medium/Novecentowide-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/novecento-medium/Novecentowide-Medium-webfont.woff") format("woff"), url("../fonts/novecento-medium/Novecentowide-Medium-webfont.ttf") format("truetype"), url("../fonts/novecento-medium/Novecentowide-Medium-webfont.svg#NovecentowideUltraLightBold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'novecento-bold';
  src: url("../fonts/novecento-bold/Novecentowide-Bold-webfont.eot");
  src: url("../fonts/novecento-bold/Novecentowide-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/novecento-bold/Novecentowide-Bold-webfont.woff") format("woff"), url("../fonts/novecento-bold/Novecentowide-Bold-webfont.ttf") format("truetype"), url("../fonts/novecento-bold/Novecentowide-Bold-webfont.svg#NovecentowideBookBold") format("svg");
  font-weight: normal;
  font-style: normal; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  min-width: 256px;
  min-width: 16rem;
  max-width: 2400px;
  max-width: 150rem;
  height: 100%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased; }

main {
  height: auto;
  overflow: hidden; }

body {
  height: 100%; }

@media only screen and (min-width: 24.375em) {
  html {
    font-size: 18px; } }
@media only screen and (min-width: 37.5em) {
  html {
    font-size: 19px; } }
@media only screen and (min-width: 48em) {
  html {
    font-size: 16px; } }
@media only screen and (min-width: 72em) and (min-height: 41em) {
  html {
    font-size: 17px; } }
@media only screen and (min-width: 105em) {
  html {
    font-size: 22px; } }
@media only screen and (min-width: 150em) {
  html {
    font-size: 24px; } }
body {
  margin: 0 auto; }

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 150%;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  padding: 0; }

em {
  display: block;
  font-style: italic;
  font-size: 14.4px;
  font-size: 0.9rem;
  padding: 12.8px 0;
  padding: 0.8rem 0; }

#content {
  background: #fff;
  margin: 0em; }

.pure-button {
  font-size: 12.8px;
  font-size: 0.8rem;
  letter-spacing: .1em;
  text-align: center;
  width: auto;
  margin: 0 auto;
  color: #000;
  background-color: #7ac143;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }
  .pure-button:hover, .pure-button:focus {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.13)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.13));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.13));
    background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.13));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.13));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.13)); }

a.menu-link {
  float: right;
  display: block;
  padding: 1em; }

nav[role=navigation] {
  clear: both;
  -webkit-transition: max-height 0.3s ease-out;
  -moz-transition: max-height 0.3s ease-out;
  -o-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out; }

nav[role=navigation], #signup-form {
  overflow: hidden;
  max-height: 0; }

nav[role=navigation].active {
  max-height: 15em; }

nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  border-top: 1px solid #309045; }

nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  border-bottom: 1px solid #309045; }

a {
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear; }

.general-link, .nav-link {
  font-size: 14.4px;
  font-size: 0.9rem; }

.general-link:link, .general-link:visited {
  color: #6688ca;
  text-decoration: underline; }
.general-link:hover {
  text-decoration: none;
  color: #355799; }
.general-link:active, .general-link:focus {
  color: #6688ca;
  text-decoration: underline; }

.nav-link:link, .nav-link:visited {
  color: #000;
  text-decoration: underline; }
.nav-link:hover {
  text-decoration: none;
  color: #355799; }
.nav-link:active, .nav-link:focus {
  color: #000;
  text-decoration: underline; }

.disabled, .disabled:link, .disabled:visited, .disabled:hover, .disabled:active {
  text-decoration: none;
  color: #888; }

.section-header {
  display: block;
  background-color: #7ac143;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ac143', endColorstr='#629d34',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-image: -webkit-linear-gradient(top left, #7ac143 30%, #629d34);
  background-image: -moz-linear-gradient(top left, #7ac143 30%, #629d34);
  background-image: -o-linear-gradient(top left, #7ac143 30%, #629d34);
  background-image: linear-gradient(to bottom right, #7ac143 30%, #629d34);
  width: 100%;
  text-shadow: 1px 1px 1px #4fc56a;
  font-size: 20.8px;
  font-size: 1.3rem;
  letter-spacing: .1em;
  margin: 0;
  padding: 6.4px 6.4px 6.4px 19.2px;
  padding: 0.4rem 0.4rem 0.4rem 1.2rem;
  margin: 36.8px 0;
  margin: 2.3rem 0;
  border-top: 1px solid #309045;
  border-bottom: 1px solid #309045; }

.business, input.send-button, .subscribe-link, .section-header, .sale-button, .sale-headline, .sale-name, label, .signup-submit,
.gallery-title, strong {
  font-family: "novecento-bold", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; }

.sale-details-date, .sale-location, .contact-info, .sale-date-range, .general-link, .nav-link {
  font-family: "novecento-medium", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal; }

.sale-date-range, .sale-name, .sale-headline, .sale-location, hr.rule, .sale-note, .sale-description {
  margin: 0; }

strong {
  font-size: 17.6px;
  font-size: 1.1rem;
  margin-top: 2%; }

#logo {
  position: relative;
  width: 100%;
  position: relative;
  background: #7ac143 url(../img/dudley-background-mobile.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  #logo img {
    width: 92%;
    height: auto;
    margin: 0 0 0 4%;
    padding: 6% 0; }

.business {
  font-size: 14.4px;
  font-size: 0.9rem;
  margin: 0;
  letter-spacing: .1em;
  padding: 14.4px 0 14.4px 16px;
  padding: 0.9rem 0 0.9rem 1rem; }

header {
  width: 100%;
  position: relative;
  background-color: #7ac143;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ac143', endColorstr='#629d34',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-image: -webkit-linear-gradient(top left, #7ac143 30%, #629d34);
  background-image: -moz-linear-gradient(top left, #7ac143 30%, #629d34);
  background-image: -o-linear-gradient(top left, #7ac143 30%, #629d34);
  background-image: linear-gradient(to bottom right, #7ac143 30%, #629d34);
  -webkit-box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.8);
  z-index: 1; }
  header .menu-link {
    margin: -14.4px 0rem -14.4px -14.4px;
    margin: -0.9rem 0rem -0.9rem -0.9rem;
    padding: .9rem;
    opacity: .6;
    position: relative; }
    header .menu-link > img {
      background-color: #cfe9ba;
      border: 1px solid #309045;
      border-radius: 3px;
      -webkit-transition: background-color .6s ease;
      -moz-transition: background-color .6s ease;
      -o-transition: background-color .6s ease;
      transition: background-color .6s ease;
      padding: 6.4px;
      padding: 0.4rem;
      margin: -6.4px;
      margin: -0.4rem; }
  header .menu-link.active > img {
    background-color: #4a7727; }

#statement {
  width: 92%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: .03em;
  text-align: center;
  margin: 0 auto;
  padding: 32px 0 24px;
  padding: 2rem 0 1.5rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2); }

.subscribe-link {
  white-space: normal;
  display: block; }
  .subscribe-link.active {
    color: #666;
    background-color: #E6E6E6; }

.subscribe-link, .signup-submit {
  -webkit-transition: background-color .4s ease-in, color .4s ease-in;
  -moz-transition: background-color .4s ease-in, color .4s ease-in;
  -o-transition: background-color .4s ease-in, color .4s ease-in;
  transition: background-color .4s ease-in, color .4s ease-in; }

#signup-form {
  width: 220.8px;
  width: 13.8rem;
  margin: 0 auto;
  padding: 0;
  clear: both;
  -webkit-transition: max-height 0.2s ease-out, margin 0.2s ease-out;
  -moz-transition: max-height 0.2s ease-out, margin 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out, margin 0.2s ease-out;
  transition: max-height 0.2s ease-out, margin 0.2s ease-out; }
  #signup-form.active {
    max-height: 128px;
    max-height: 8rem;
    margin: 16px auto 0rem;
    margin: 1rem auto 0rem; }
    #signup-form.active .signup-submit {
      background-color: #7ac143; }
  #signup-form > label:first-child {
    font-size: 14.4px;
    font-size: 0.9rem; }
  #signup-form .signup-email {
    margin: 3.2px 0 16px;
    margin: 0.2rem 0 1rem; }
  #signup-form .signup-submit {
    margin: 0 16px 0 0;
    margin: 0 1rem 0 0; }

.single-sale {
  width: 88%;
  margin: 0 0 0 5%; }

.sale-date-range {
  font-size: 16px;
  font-size: 1rem; }

.sale-details-date {
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
  margin: 0 0 16px 0;
  margin: 0 0 1rem 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
  display: inline-block; }
  .sale-details-date li {
    display: inline; }
    .sale-details-date li:first-child:after {
      content: ","; }
    .sale-details-date li:last-child {
      display: inline-block;
      width: 100%; }

.sale-name {
  font-size: 24px;
  font-size: 1.5rem; }

.sale-location {
  font-size: 16px;
  font-size: 1rem;
  margin: 0; }

h3.sale-headline {
  font-size: 28.8px;
  font-size: 1.8rem; }

img.sale-image, .sale-image > img {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 0 16px;
  padding: 0 0 1rem; }

.sale-description {
  padding: 24px 0 0;
  padding: 1.5rem 0 0; }

.buttons {
  width: 100%;
  display: block;
  text-align: center;
  margin: 16px auto;
  margin: 1rem auto; }
  .buttons a:first-child {
    margin-right: 16px;
    margin-right: 1rem; }
  .buttons a:last-child {
    margin-right: 0; }

hr.rule {
  border-top: 2px solid #777;
  width: 100%;
  margin-bottom: 32px;
  margin-bottom: 2rem;
  margin-top: 28.8px;
  margin-top: 1.8rem; }

.process-list {
  width: 86%;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif; }

.contact-form {
  width: 86%;
  margin: 0 0 0 5%; }
  .contact-form fieldset {
    margin-top: 16px;
    margin-top: 1rem;
    padding: 0; }

.form-description {
  width: 86%;
  margin: 0 0 0 5%; }

.pure-control-group {
  padding-bottom: 16px;
  padding-bottom: 1rem; }

/* This child element needed for specificity clash. Not sure why... */
label.dudley-label {
  font-size: 17.6px;
  font-size: 1.1rem;
  width: 100%;
  text-align: left; }

input.dudley-input {
  width: 100%;
  height: 2.8em; }

textarea.dudley-textarea {
  width: 100%; }

input.send-button {
  margin: 4.8px 0 32px;
  margin: 0.3rem 0 2rem;
  float: right; }

footer {
  clear: both;
  padding-bottom: 11.2px;
  padding-bottom: 0.7rem; }

.footer-rule {
  width: 90%;
  background-color: #333;
  border: 1px solid #333;
  margin: -16px 0 25.6px;
  margin: -1rem 0 1.6rem;
  margin-left: 5%; }

img.social {
  width: 16px;
  width: 1rem;
  margin-right: 8px;
  margin-right: 0.5rem; }

.contact-info li {
  list-style-type: none;
  padding-bottom: .3em; }
  .contact-info li:last-child {
    padding-top: 4.8px;
    padding-top: 0.3rem; }

.contact-info {
  font-size: 16px;
  font-size: 1rem;
  padding-left: 5%; }

.lazy {
  display: none; }

.photo-gallery {
  margin-top: 24px;
  margin-top: 1.5rem; }
  .photo-gallery .sale-dates {
    margin-top: 16px;
    margin-top: 1rem; }
  .photo-gallery .sale-details-date {
    padding: 0; }
  .photo-gallery footer {
    clear: both;
    float: none;
    width: 100%;
    margin: 3% 0 2% 3%; }
    .photo-gallery footer .footer-rule {
      margin: 0 0 2% 0;
      width: 93.5%; }
    .photo-gallery footer .contact-info {
      margin: 0;
      padding: 0; }
    .photo-gallery footer li {
      margin: 0;
      padding: 0; }
  .photo-gallery img {
    -webkit-transition: opacity .3s ease-in;
    -moz-transition: opacity .3s ease-in;
    -o-transition: opacity .3s ease-in;
    transition: opacity .3s ease-in; }
  .photo-gallery .image-wrapper a {
    display: block;
    margin: 0 -9.6px -9.6px 0;
    margin: 0 -0.6rem -0.6rem 0;
    background: #000; }
  .photo-gallery .image-wrapper:hover img {
    opacity: .4; }

#gallery {
  margin: 3% 3% 0 2.2%;
  clear: both; }

.image-wrapper {
  display: inline-block;
  vertical-align: bottom;
  opacity: 0;
  padding: 9.6px 9.6px;
  padding: 0.6rem 0.6rem; }

.photo-gallery-featured {
  margin-top: 24px;
  margin-top: 1.5rem; }
  .photo-gallery-featured .gallery-nav {
    float: right;
    margin-right: 5%;
    margin-bottom: 6.4px;
    margin-bottom: 0.4rem; }
  .photo-gallery-featured .gallery-featured {
    width: 90%;
    margin: 0 auto;
    height: auto; }
    .photo-gallery-featured .gallery-featured > img {
      height: auto;
      min-width: 100%; }
  .photo-gallery-featured footer {
    margin-top: 40px;
    margin-top: 2.5rem; }

@media only screen and (min-width: 48em) {
  .photo-gallery-featured {
    margin-top: 80px;
    margin-top: 5rem; }
    .photo-gallery-featured .gallery-featured {
      width: 60%;
      float: left;
      margin-left: 5%;
      margin-bottom: 2%; }
      .photo-gallery-featured .gallery-featured > img {
        max-height: 512px;
        max-height: 32rem;
        min-width: 0%;
        max-width: 100%;
        height: auto;
        width: auto; }
    .photo-gallery-featured .gallery-nav {
      font-size: 20.8px;
      font-size: 1.3rem;
      margin-top: -.5%; }
      .photo-gallery-featured .gallery-nav .general-link {
        font-size: 20.8px;
        font-size: 1.3rem; }
    .photo-gallery-featured footer {
      float: none;
      width: 100%;
      clear: both; } }
@media only screen and (min-width: 37.5em) {
  .photo-gallery .sale-dates {
    width: 41%;
    margin: 24px 0 32px;
    margin: 1.5rem 0 2rem; }
    .photo-gallery .sale-dates ul:last-child {
      margin-bottom: 0; }
  .photo-gallery .sale-description {
    width: 54%;
    margin-bottom: 32px;
    margin-bottom: 2rem;
    margin-right: 4%; }
  .photo-gallery .sale-details-date {
    font-size: 14.4px;
    font-size: 0.9rem; } }
@media only screen and (min-width: 48em) {
  .photo-gallery {
    margin-top: 88px;
    margin-top: 5.5rem; }
    .photo-gallery .single-sale {
      width: 94%;
      margin: 0 0 0 3.5%; }
    .photo-gallery .sale-dates {
      width: 45%;
      margin-top: 19.2px;
      margin-top: 1.2rem; }
    .photo-gallery .sale-details-date {
      width: 27%;
      margin-right: 4%;
      padding: 0; }
      .photo-gallery .sale-details-date li {
        display: block; }
    .photo-gallery .sale-description {
      width: 50%; } }
@media only screen and (min-width: 24.375em) {
  #statement {
    width: 92%;
    margin: 8px auto;
    margin: 0.5rem auto; } }
@media only screen and (min-width: 37.5em) {
  #logo img {
    width: 60%;
    height: auto;
    margin: 0 0 0 20%;
    padding: 4% 0; }

  #statement {
    width: 90%;
    margin-top: 0;
    font-size: 21.6px;
    font-size: 1.35rem; }

  .section-header {
    padding-left: 24px;
    padding-left: 1.5rem; }

  .sale-headline {
    font-size: 1.75rem; }

  .sale-dates {
    float: right;
    width: 29%;
    margin: 24px 0 48px 0;
    margin: 1.5rem 0 3rem 0;
    padding-left: 3%;
    border-left: 2px solid #666; }

  .sale-details-date {
    font-size: 12.8px;
    font-size: 0.8rem; }

  .sale-description {
    width: 65%;
    margin: 0 3% 0 0;
    float: left; }

  .buttons {
    margin: 152px 0 48px 0;
    margin: 9.5rem 0 3rem 0;
    width: 55%;
    clear: left;
    text-align: left; }

  .form-description {
    float: right;
    width: 36%;
    margin-right: 3%; }

  label.dudley-label {
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
    font-size: 16px;
    font-size: 1rem; }

  .pure-control-group {
    width: 100%;
    margin-right: 0; }

  input.send-button {
    float: left; } }
@media only screen and (min-width: 42.5em) and (max-width: 48em) {
  .sale-dates {
    width: 39%; }

  .sale-description {
    width: 57%; } }
@media only screen and (min-width: 48em) {
  a.menu-link {
    display: none; }

  nav[role=navigation] {
    max-height: none; }

  nav[role=navigation] ul {
    margin: 0;
    border: 0; }

  nav[role=navigation] li a {
    border: 0; }

  header {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0; }

  .business {
    font-size: 14.4px;
    font-size: 0.9rem;
    width: 35%;
    position: relative; }

  nav[role=navigation] {
    font-size: 12.8px;
    font-size: 0.8rem;
    text-align: right;
    width: auto;
    position: relative;
    float: right;
    padding-right: 16px;
    padding-right: 1rem;
    margin-top: -43.2px;
    margin-top: -2.7rem; }
    nav[role=navigation] ul {
      overflow: hidden;
      list-style-type: none; }
    nav[role=navigation] li {
      float: left; }

  #intro {
    float: left;
    width: 22%;
    position: relative; }

  .intro-wrapper {
    position: fixed;
    left: 0;
    top: 48px;
    top: 3rem;
    width: 26%;
    display: block;
    background: #fff;
    -webkit-box-shadow: 4px 0px 6px -3px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 4px 0px 6px -3px rgba(0, 0, 0, 0.8);
    box-shadow: 4px 0px 6px -3px rgba(0, 0, 0, 0.8);
    margin-bottom: -100%;
    padding-bottom: 100%;
    margin-top: -100%;
    padding-top: 100%; }

  #logo {
    width: 100%;
    margin: 0 auto;
    padding: 0; }
    #logo img {
      width: 70%;
      height: auto;
      margin: 0 15% 0 15%;
      padding: 4% 0; }

  .inner-intro-wrapper {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0; }

  #statement {
    text-align: left;
    font-size: 17.6px;
    font-size: 1.1rem;
    padding-top: 19.2px;
    padding-top: 1.2rem;
    line-height: 1.5; }

  #statement, .subscribe-link {
    margin: 0 auto;
    width: 85%;
    display: block; }

  .subscribe-link {
    padding: 8px;
    padding: 0.5rem; }

  #signup-form {
    width: 85%;
    margin: 0 auto; }
    #signup-form.active {
      max-height: 128px;
      max-height: 8rem;
      margin: 16px auto 0rem;
      margin: 1rem auto 0rem; }

  .section-header {
    background: transparent;
    background-image: none;
    border: none;
    text-shadow: none;
    width: 100%;
    padding-left: 5%;
    margin: 0 0 32px 0;
    margin: 0 0 2rem 0; }
    .section-header:after {
      display: inline-block;
      content: ".";
      color: rgba(0, 0, 0, 0);
      padding: 0 5440px 0 16px;
      padding: 0 340rem 0 1rem;
      margin: 0 -5440px 0 16px;
      margin: 0 -340rem 0 1rem;
      background-color: #7ac143;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7ac143', endColorstr='#629d34',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      background-image: -webkit-linear-gradient(top left, #7ac143 30%, #629d34);
      background-image: -moz-linear-gradient(top left, #7ac143 30%, #629d34);
      background-image: -o-linear-gradient(top left, #7ac143 30%, #629d34);
      background-image: linear-gradient(to bottom right, #7ac143 30%, #629d34); }

  #sales {
    width: 73%;
    padding-top: 160px;
    padding-top: 10rem;
    margin: -80px 0 0 0;
    margin: -5rem 0 0 0;
    float: right;
    min-height: 100%; }

  .sale-headline {
    font-size: 32px;
    font-size: 2rem; }

  .sale-note {
    width: 95%;
    margin-bottom: 16px;
    margin-bottom: 1rem; }
    .sale-note em {
      font-size: 16px;
      font-size: 1rem; }

  img.sale-image, .sale-image > img {
    float: left;
    width: 35%;
    margin: 1.5% 4% 4% 0; }

  .sale-image-responsive + .sale-detail-text > .sale-description {
    width: 61%;
    float: right;
    margin-right: 0; }

  .sale-image-responsive + .sale-detail-text .sale-dates {
    border: none;
    float: right;
    width: 100%;
    padding-left: 0;
    margin: 8px 0 32px 0;
    margin: 0.5rem 0 2rem 0; }
    .sale-image-responsive + .sale-detail-text .sale-dates > .sale-details-date {
      width: 144px;
      width: 9rem;
      margin: 0 8px;
      margin: 0 0.5rem;
      border-right: 2px solid #666; }
      .sale-image-responsive + .sale-detail-text .sale-dates > .sale-details-date:first-child {
        margin-left: 0; }
      .sale-image-responsive + .sale-detail-text .sale-dates > .sale-details-date:last-child {
        border: 0; }
      .sale-image-responsive + .sale-detail-text .sale-dates > .sale-details-date > li {
        display: block; }

  .process-list, .contact-form {
    margin: 0 auto;
    padding: 0;
    width: 90%;
    border: 0; }

  .process-list {
    -moz-column-count: 2;
    -moz-column-gap: 35.2px;
    -moz-column-gap: 2.2rem;
    -webkit-column-count: 2;
    -webkit-column-gap: 35.2px;
    -webkit-column-gap: 2.2rem;
    column-count: 2;
    column-gap: 35.2px;
    column-gap: 2.2rem; }

  #contact, #process {
    display: block;
    width: 73%;
    float: right;
    padding-top: 64px;
    padding-top: 4rem; }

  input.dudley-input, textarea.dudley-textarea, .pure-control-group {
    margin-top: 2%; }

  input.send-button {
    float: left; }

  footer {
    width: 73%;
    float: right; } }
@media only screen and (min-width: 72em) {
  .nav {
    font-size: 14.4px;
    font-size: 0.9rem;
    margin-top: -48px;
    margin-top: -3rem; }

  .business {
    font-size: 16px;
    font-size: 1rem; }

  .sale-image-responsive + .sale-detail-text > .buttons {
    float: right;
    clear: both;
    margin: -40px 0 0;
    margin: -2.5rem 0 0;
    width: 61%; }

  .sale-image-responsive + .sale-detail-text .sale-dates {
    border: none;
    float: right;
    width: 61%;
    padding-left: 0;
    margin: 8px 0 32px 0;
    margin: 0.5rem 0 2rem 0; }
    .sale-image-responsive + .sale-detail-text .sale-dates > .sale-details-date {
      width: 128px;
      width: 8rem; }

  .form-name {
    width: 65%; }

  .form-email {
    float: left;
    width: 50%;
    margin-right: 5%; }

  .form-telephone {
    width: 45%;
    float: right; }

  input.dudley-input {
    margin-top: 0; } }
@media only screen and (min-width: 72em) and (min-height: 41em) {
  #statement {
    font-size: 19.2px;
    font-size: 1.2rem;
    text-align: left;
    line-height: 1.3; }

  #logo {
    width: 100%;
    margin: 0 auto;
    padding: 0; }
    #logo img {
      width: 88%;
      height: auto;
      margin: 6% 0 6% 6%;
      padding: 2% 0; } }
@media only screen and (min-width: 105em) {
  .sale-image-responsive + .sale-detail-text > .buttons {
    margin-top: -64px;
    margin-top: -4rem; } }
@media only screen and (min-width: 120em) {
  .sale-image-responsive + .sale-detail-text > .buttons {
    float: right;
    width: 208px;
    width: 13rem;
    margin: -24% -2% 0 0; }

  .sale-image-responsive + .sale-detail-text .sale-dates > .sale-details-date {
    width: 112px;
    width: 7rem; }

  .sale-details-date {
    font-size: 11.2px;
    font-size: 0.7rem; } }
@media only screen and (min-width: 150em) {
  .sale-image-responsive + .sale-detail-text > .buttons {
    border: 1px solid #f0f;
    margin: -24.5% 3% 0 0; } }
