.l-intro {
  @include clearfix;
  position: absolute;
  top: 0;
  z-index: -1;
  color: #fff;
  background-color: $blue;
  overflow: hidden;
  @include flexbox;
  @include align-items(center);

  @include rem(height, 23rem);

  .intro-col {
    width: 100%;

    p {
      margin: 0 0 1em 0;
    }

    @include mq(48em) {
      @include rem(font-size, 1.1rem);
      width: 41%;
      margin: 0 0 0 4%;
      @include rem(margin-top, 3rem);
      float: left;
    }

    &:last-child {
      margin-left: 7%;
    }
  }
}

a.intro-link {
  position: relative;
  text-decoration: none;
  color: #fff;
  z-index: 999;

  @include link-animate(#fff, $blue);
}

a.intro-trigger.intro-link {
  color: #000;
  //background-image: linear-gradient(to top, #fff, #fff 50%, transparent 50%, transparent);
  //background-position: 0 0;
  //background-size: 100% 200%;
  //@include transition(background-position 300ms ease-out, color 200ms ease-in-out 50ms);
  //border-bottom: 2px solid #fff;
  //@include rem(padding, 2px 2px 0);

  &:hover {
  //  color: #fff;
  //  background-position: 0 100%;
  }
}

.intro-text {
  margin: 0 auto;

  @include mq(48em) {
    @include rem(margin, -1rem -3rem -1rem -2.5rem);
    @include flex(1 0 0);
    border: none;
  }
}

.intro-headline {
  @include rem(font-size, 16rem);
  font-family: "grey-sans-ultrathin", $sans-stack;
  padding: 0;
    
  text-shadow: 3px 3px 12px rgba(0,0,0,.6);

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  

  @include mq(48em) {
    @include rem(font-size, 21rem);
    @include rem(letter-spacing, -.9rem);

    width: 34%;
    height: auto;
    margin: 0;
    @include rem(padding, 4rem 0 0 1rem);
  }
}

.social-icons div {
  @include rem(width, 2rem);
  @include rem(height, 2rem);
  @include rem(border-radius, 1rem);
  @include rem(margin-right, .85rem);
  display: block;
  float: left;
  background-color: $light-blue;
}
