.mini-logo {
	.logo-bar, .logo-block {
		fill: #fff;
		stroke: #fff;
	}
}

.mini-logo-object {
	margin: 0 auto;
	width: auto;
}

.logo-bar {
	fill: $blue;
}

.logo-block {
	fill: $light-blue;
}

.svg-logo-icon {
  float: left;
  @include rem (margin-right, 2rem);
  
	svg {
		@include rem (width, 14rem);
		@include rem (height, 12rem);
	}
}