// ============================================================
// Header Styles
// ============================================================

.post-header {
  @include rem(height, 23rem);
  background-color: $blue;
  padding-left: 10%;
  position: absolute;  
  top: 0;
  left: 0;  
  width: 100%;
  background-color: $blue;
  //background-image: url(http://www.transparenttextures.com/theme/images/patterns/random-grey-variations.png);
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.post-headline {
  font-family: "grey-sans-ultrathin";
  font-style: normal;
  @include rem(font-size, 7rem);
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,.3);

  @include rem(margin, 5rem auto 0);

  display: block;
  position: relative;
}

.post-subhead {
  font-family: "grey-sans-semibold";
  font-style: normal;
  @include rem(font-size, 2.1rem);
  color: #fff;
  text-shadow: 2px 1px 1px rgba(0,0,0,.3);

  margin: 0 auto;
  @include rem(margin-top, .4rem);
  display: block;
  position: relative;

  &:before {
		content: "";
		position: absolute;
		bottom: -0.6em;
		left: 0;
		height: 1px;
		width: 74%;
		border-bottom: 4px solid #46a8df;
  }
}

// ============================================================
// Article Styles
// ============================================================

.post-section-subhead {
  font-family: "grey-sans-semibold";
}

.post-text {
  width: 60%;
  //@include rem(margin-top, 23rem);
  margin-left: 15%;
  @include rem(padding-top, 2rem);
  position: relative;

  @include mq(90em) {
    margin-left: auto;
    margin-right: auto;
    @include rem(max-width, 72rem);
  }
}

.post-paragraph {
  @include rem(margin-bottom, 1rem);
  @include rem(font-size, 1.3rem);

  @include mq(90em) {
    @include rem(font-size, 1.7rem);
  }
}

// ============================================================
// Post Images
// ============================================================

.post-image {
  @include rem(margin-bottom, 1rem);
}

.post-image.full-col {
  width: 85%;
}

.post-image.half-col {
  width: 45%;
  float: left;
  margin-right: 5%;
}

// ============================================================
// Post Extras
// ============================================================

.post-pullquote {

}

.l-intro.post-intro {
  height: 0;  
  @include transition(height 200ms ease);

  &.is-active {
    @include rem(height, 23rem);
  }
}

.post-main {
  @include rem(margin-top, 23rem);
}
