<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="l-site">
        {% include nav.html %}

        <main id="main">
            {% assign pageurl = page.url %}

            <div id="main-content" class="l-content u-fade">
                {% if pageurl == '/' %}
                    <header class="c-header" id="homeNav">
                        <h1 class="c-header__title">Senior Product Designer @ <a target="_blank" href="https://heap.io/">Heap</a></h1>

                        <p class="c-header__description">
                            At Heap, I'm helping people make better decisions with data. Previously Product Design Director at BriteCore.
                        </p>
                    </header>
                {% endif %}

                {{ content }}
            </div>

            <aside id="intro"
                {% if pageurl == '/about/' %}
                    class="c-intro c-intro--about"
                {% else if %}
                    class="c-intro"
                {% endif %}
            >
                <div id="intro-box"
                    {% if pageurl == '/' %}
                        class="c-intro__box c-intro__box--home"
                    {% else if %}
                        class="c-intro__box"
                    {% endif %}
                >
                    <img class="c-intro__initials" src="{{ site.baseurl }}/assets/images/initials.svg" alt="WG Initials">

                    <h2 class="c-intro__header">Hi, I'm Will Guldin</h2>

                    <p class="c-intro__description">
                        As a product design leader, I’m passionate about designing elegant solutions for complex applications and working with great teams.
                    </p>
                </div>

                <div class="c-intro__summary" id="sidebar">
                    {% if page.sidebar %}
                        {% capture sidebarInclude %}{% include {{ page.sidebar }} %}{% endcapture %}
                        {{ sidebarInclude | markdownify }}
                    {% endif %}
                </div>
            </aside>
        </main>

        <footer>
            <a href="mailto:wguldin@gmail.com">Contact Me</a>

            <a href="https://github.com/wguldin" class="footer-icon" >
                <img src="{{ site.baseurl }}/assets/images/github-square-brands.svg" alt="GitHub Logo" title="GitHub Profile">
            </a>
            <a href="https://www.linkedin.com/in/will-guldin/" class="footer-icon">
                <img src="{{ site.baseurl }}/assets/images/linkedin-brands.svg" alt="LinkedIn Logo" title="LinkedIn Page">
            </a>
        </footer>

        <script src="{{ site.baseurl }}/js/vendor/history.min.js"></script>
        <script src="{{ site.baseurl }}/js/main.js"></script>
    </body>
</html>
