<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="l-site">
        {% include nav.html %}

        <main id="main">
            {% assign pageurl = page.url %}

            <div id="main-content" class="l-content u-fade">
                {% if pageurl == '/' %}
                    <header class="c-header" id="homeNav">
                        <h2 class="c-header__title">Product Design Director @ <a target="_blank" href="http://britecore.com/">BriteCore</a></h2>

                        <p class="c-header__description">
                            In my role, I’ve helped create a design organization at a fully remote & distributed company. Along the way, we built a design system, launched a UX research program, and solved complex problems for people using our enterprise software.
                        </p>
                    </header>
                {% endif %}

                {{ content }}
            </div> 

            <aside id="intro"
                {% if pageurl == '/about/' %}
                    class="c-intro c-intro--about"
                {% else if %}
                    class="c-intro"
                {% endif %}
            >
                <div id="intro-box"
                    {% if pageurl == '/' %}
                        class="c-intro__box c-intro__box--home"
                    {% else if %}
                        class="c-intro__box"
                    {% endif %}
                >
                    <img class="c-intro__initials" src="{{ site.baseurl }}/assets/images/initials.svg" alt="WG Initials">

                    <h2 class="c-intro__header">Hi, I'm Will Guldin</h2>
    
                    <p class="c-intro__description">
                        As a product design leader, I’m passionate about growing effective teams, and designing complex, enterprise applications.
                    </p>
                </div>

                <div class="c-intro__summary" id="sidebar">
                    {% if page.sidebar %}
                        {% capture sidebarInclude %}{% include {{ page.sidebar }} %}{% endcapture %}
                        {{ sidebarInclude | markdownify }}
                    {% endif %}
                </div>
            </aside>
        </main>

        <script src="{{ site.baseurl }}/js/vendor/history.min.js"></script>
        <script src="{{ site.baseurl }}/js/main.js"></script>
    </body>
</html>
