<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="l-site">
        <svg class="c-illustration" id="illustration"></svg>

        <main id="main" class="u-fade">
            {% assign pageurl = page.url %}

            {% include nav.html %}

            {% if pageurl == '/' %}
                <header class="c-header" id="homeNav">
                    <h2>Product Design Director at <a href="http://britecore.com/">BriteCore</a>.</h2>

                    <p>
                        In my role, I’ve helped create a design organization at a fully remote & distributed company. Along the way, we built a design system, launched a UX research program, and solved complex problems for people using our enterprise software.
                    </p>
                </header>
            {% else %}
                <div id="pageNav">
                    {% include nav.html %}
                </div>
            {% endif %}

            <div class="l-content">
                {{ content }}
            </div>
        </main>

        <script src="{{ site.baseurl }}/js/vendor/history.min.js"></script>
        <script src="{{ site.baseurl }}/js/vendor/svg.min.js"></script>
        <script src="{{ site.baseurl }}/js/main.js"></script>
    </body>
</html>
