<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="home">
            <div class="wrapper">
                <header class="c-header">
                    {% assign active = page.url %}

                    <nav class="c-nav col-l5-col-l6">

                        <ul class="u-list-unstyled c-nav__list">
                            <li class="c-nav__item {% if active == '/' %}c-nav__item--active{% endif %}">
                                <a href="/" class="c-nav__link">
                                    Writing
                                </a>
                            </li>
                            <li class="c-nav__item {% if active == '/work' %}c-nav__item--active{% endif %}">
                                <a href="/work" class="c-nav__link">
                                    Work
                                </a>
                            </li>
                            <li class="c-nav__item {% if active == '/about' %}c-nav__item--active{% endif %}">
                                <a href="/about" class="c-nav__link">
                                    About
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <div class="c-header__h-group col-l2-col-l5 col-l-overlap">
                        <h1 class="c-header__title">
                            Will Guldin
                        </h1>

                        <h2 class="c-header__subhead">
                            UX/UI Designer &amp; Front-End Developer
                        </h2>

                        <p class="c-header__description">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                        </p>
                    </div>

                    <svg class="c-header__illustration" id="header-illustration"></svg>
                </header>

                <div class="l-content__wrapper">
                    <div class="l-content">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}

        <!-- TODO: get 'portfolio' out of link -->
        <script src="/portfolio/js/svg.min.js"></script>
        <script src="/portfolio/js/main.js"></script>

    </body>
</html>
