<!DOCTYPE html>
<html>

    {% include head.html %}

    <body class="l-site">
        <svg class="c-illustration" id="illustration"></svg>

        <header class="c-header">
            {% for post in site.posts %}
                {% if forloop.index == 1 %}
                    <div class="c-nav">
                        <h2 class="c-nav__title">Will Guldin</h2>

                        <div class="c-nav__description">
                            <p>UI/UX Designer at <a href="http://britecore.com/">BriteCore</a>.</p>
                            <p>
                                I write about simple ideas to help design complex apps.
                            </p>
                            <nav>
                                <ul class="u-list-unstyled c-nav__list">
                                    <li class="c-nav__list-item"><a href="/">Writing</a></li>
                                    <li class="c-nav__list-item"><a href="/work">Work</a></li>
                                    <li class="c-nav__list-item"><a href="/about">About</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <a href="{{ post.url | prepend: site.baseurl }}" class="c-header__h-group">
                        <h1 class="c-header__title">{{ post.title }}</h1>
                        <p class="c-header__subhead">
                            Short subheader here and here and here, maybe two lines
                        </p>
                    </a>

                    <div class="c-header__background">
                        <span class="c-header__label">Post No. {{forloop.index}}</span>
                        <span class="c-header__number">{{forloop.index}}</span>
                    </div>
                {% endif %}
            {% endfor %}


            {% assign active = page.url %}
        </header>

        {{ content }}

        <!-- TODO: get 'portfolio' out of link -->
        <script src="/portfolio/js/svg.min.js"></script>
        <script src="/portfolio/js/main.js"></script>

    </body>
</html>
