<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
        <div class="home">
            <div class="wrapper">
                <header class="c-header">
                    <a href="{{ "/" | prepend: site.baseurl }}" class="c-orb c-orb--header">
                        <time class="u-sr-only js-clock"></time>
                    </a>

                    <svg class="c-header__illustration" id="header-illustration">
                        <defs>
                            <symbol id="star">
                                <polygon class="st0" points="16,7.7 9.3,7.7 12.8,4.2 12.2,3.5 8.6,7 8.6,0 7.4,0 7.4,7 3.8,3.5 3.2,4.2 6.7,7.7 0,7.7 0,9 7,9
                            3.2,12.5 3.8,13.1 7.4,9.6 7.4,16 8.6,16 8.6,9.3 12.2,13.1 12.8,12.5 9.3,9 16,9 "/>
                            </symbol>
                        </defs>
                    </svg>

                    <h1 class="c-header__intro">
                        Simple ideas to help design complex apps.
                    </h1>

                    <div class="c-text-divider">
                        <h3 class="c-text-divider__content">
                        A Blog By Will Guldin
                        </h3>
                    </div>
                </header>

                <div class="l-content__wrapper l-content__wrapper--horizon">
                    <div class="l-content l-content--horizon">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>

        {% include footer.html %}

        <!-- TODO: get 'portfolio' out of link -->
        <script src="/portfolio/js/svg.min.js"></script>
        <script src="/portfolio/js/main.js"></script>

    </body>
</html>
