---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="c-post__header">
        <h1 class="c-post__title" itemprop="name headline">{{ page.title }}</h1>
    </header>

    <div class="c-post__content" itemprop="articleBody">
        {% assign drop_cap = content|strip_html|truncate:4|remove:'.' %}

        <p class="c-post__meta">
            <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                <a href="{{ "/" | prepend: site.baseurl }}">&laquo; Back to Posts</a>
                <span class="px1">&bull;</span>
                {{ page.date | date: "%b %-d, %Y" }}</time>

                <div class="u-sr-only">
                    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <span itemprop="name">{{ page.author }}</span>
                    </span>
                </div>
            </p>

        <div class="c-orb c-orb--drop-cap">
            {{ drop_cap }}
        </div>

        {{ content }}
    </div>
</article>
