.c-header {
    .no-shapes & {
        z-index: 0;
    }
}

.c-header__orb {
    background: $color-orange;
    background: $color-yellow;
    border-radius: 50%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .2);
    display: block;
    height: 5em;
    margin: 0 auto;
    position: relative;
    text-indent: -10000px;
    top: -2.5em;
    width: 5em;
}

.c-header__intro {
    color: $color-white;
    font-family: "cooper-hewitt";
    font-size: 5vw;
    letter-spacing: .6px;
    margin-top: -.6em;
    opacity: .9;
    padding: 0 1em 1.15em;
    text-shadow: 0 1px 0 rgba($color-white, .3);
    text-align: center;
    width: 100%;

    @media screen and (min-width: 48em) {
        font-size: 2.3vw;
    }
}

.c-header__byline {
    color: $color-white;
    clear: right;
    float: right;
    font-size: 1.2em;
    letter-spacing: .8px;
    opacity: .9;
    text-align: right;
}

.c-header__illustration {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, $color-maroon, darken($color-maroon, 5%));
    background: linear-gradient(to bottom, $color-blue, darken($color-blue, 5%));

    line {
        stroke: rgba($color-white, .05);
    }
}
