.c-header {
    width: 100%;
    text-align: center;
}

.c-header--title {
    font-size: $h4;
}

.c-header__intro {
    font-size: $h3;
}

.c-header__illustration {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: lighten(#dbecca, 5%);
    // width: 100%;
    width: 100%;
    height: 100%;
    z-index: -1;

    line {
        stroke: rgba($color-aqua, .25);
        stroke-width: .5;
    }
}
