.c-header {
    position: relative;
    min-height: 9.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.c-header__byline {
    text-transform: uppercase;
    color: $color-jade;
}

.c-header__divider {
    border: 0;
    background: $color-lime;
    box-shadow: none;
    margin: .7em 0 1.1em;
    height: 1px;
    width: 100%;
}

.c-header__intro {
    color: $color-aqua;
    font-size: $h3;
    font-family: $system-stack;
    font-weight: 300;
}

.c-header__jump-btn {
    color: $color-white;
    border-radius: 50%;
}

.c-header__illustration {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: darken($color-gold-bg, 5%);

    line {
        stroke: rgba($color-aqua, .15);
        stroke-width: .5;
    }
}
