.c-illustration {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-illustration__scene {
    fill: transparent;
}

.c-illustration__background {
    fill: $color-gold-bg;
}

.c-illustration__graphic--desktop {
    opacity: 0;

    @media screen and (min-width: 36em) {
            opacity: 1;
    }
}

.c-illustration__graphic--mobile {
    opacity: 1;

    @media screen and (min-width: 36em) {
        opacity: 0;
    }
}
