.c-footer {
    clear: both;
    padding: 2em;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        z-index: -1;
    }
}

.c-footer__content {
    max-width: 42em;
}

.theme--night {
    .c-footer {
        background: $color-yellow-020;
    }

    .c-footer__content {
        color: $color-blue-050;
    }
}
