.c-footer {
    clear: both;
    margin-top: 5em;
    padding: 2em;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 1;
        z-index: -1;
    }
}

.c-footer__content {
    max-width: 42em;
}

.theme--night {
    .c-footer__content {
        background: $color-blue-050;
        background-image: linear-gradient(to bottom, #344b83, #344c84);
        box-shadow: 0px 0px 27px 20px #344c85;
        color: #e9ebf2;
    }
}
