.c-header {
    padding-right: 0;
    margin-bottom: $space-3;

    @media (min-width: 32em) {
        padding-right: $space-3;
    }

    @media (min-width: 67em) {
        padding-right: $space-4; 
        margin-bottom: $space-4;
    }
}

.c-header__title {
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 1.5rem;

    a {
        background-size: 1px 2px;
    }
}

.c-header__description {
    font-size: 1.2rem;
    color: $color-gray-2;
}