.c-header {
    padding-right: $space-4;
    font-size: 1.25em;
    margin-bottom: $space-4;
}

.c-header__title {
    font-size: 1.4em;
    margin-top: 0;
}

.c-header__description {
    color: $color-gray-2;
}