.c-intro {
    font-family: "cooper-hewitt-book";
    background: rgba(34,36,104,0.9);
    color: white;
    padding: 1em;
    position: relative;
    width: 18rem;
    height: 100%;
    flex-shrink: 0;
    margin-bottom: $space-2;
}

.c-intro__header {
    font-family: 'prospectus-medium';
    font-size: 1.8em;
    font-weight: normal;
    margin-top: 0;
}

.c-intro__description {
    margin-bottom: 0;
}

.c-intro__initials {
    position: absolute;
    top: -$space-3;
    width: $space-4*2;
    opacity: 15%;
    right: -$space-3;
    user-select: none;
    pointer-events: none;
}