.c-nav {
    margin-bottom: 3em;    
}

.c-nav__list {
    display: flex;
    justify-content: flex-end;
    margin-left: 0;

    @media (min-width: 48em) {
        justify-content: initial;
    }
}

.c-nav__list-item {
    margin-right: 2em;
}

.c-nav__link {
    font-size: 1.2rem;
    background: none;
    border-radius: 4px;
    padding: .35em .4em .2em .4em;
    transition: background-color;

    &:hover {
        background-color: rgba($color-primary-1, .1);
    }
}

.c-nav__link--active {
    background-color: rgba($color-primary-1, .1);
}