.c-nav {
    float: right;
    position: relative;
}

.c-nav__list {
    display: flex;
    float: right;
    font-size: .8em;
    position: relative;
    z-index: 1;
}

.c-nav__item {
    color: $color-yellow-030;
    padding: .2em .5em .05em;
    margin: 0 .25em;
    cursor: pointer;

    &:before {
        content: none;
    }

    a {
        color: darken($color-yellow-020, 3%);
    }
}

.c-nav__item--active {
    background-color: darken($color-yellow-020, 3%);
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .4);

    .c-nav__link {
        color: $color-blue-075;
    }
}
