.c-nav {
    float: right;
    border-right: 1px solid $color-purple-050;
    padding-right: 2%;
    font-family: "cooper-hewitt-book";
    text-align: right;
    margin-top: 5%;

    @media (min-width: 42em) {
        max-width: 25%;
    }
}

.c-nav__title {
    font-size: 1em;
    margin: 0;

    @media  (min-width: 36em) {
        font-size: 1.2em;
    }
}

.c-nav__description {
    margin: .2em 0 0;
    font-size: .7em;
}

.c-nav__list {
    width: 100%;
}

.c-nav__list-item {
    display: inline-block;
    margin-right: .5em;

    &:last-child {
        margin-right: 0;
    }
}
