.c-orb {
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .2);
    display: flex;
    height: 5rem;
    justify-content: center;
    position: relative;
    text-decoration: none;
    width: 5rem;
    z-index: 1;
}

.c-orb--header {
    font-size: .5em;
    margin: 0 auto;
    padding-top: 3em;
    top: -2.5rem;
}

.c-orb--drop-cap {
    font-size: 3.6em;
    margin: .1rem 1rem 0 0;
    float: left;
    padding-top: .2em
}

.theme--night {
    .c-orb {
        background-color: $color-yellow-030;
        color: darken($color-blue-050, 2%);
        transition: background-color 90ms ease-out;

        &:hover {
            background-color: $color-yellow-040;
        }
    }
}

.theme--day {
    .c-orb {
        background: $color-orange;
    }
}
