.c-post-list {
    @media (min-width: 42em) {
        margin: 6em 0 0 0;
    }
}

.c-post-list__item {
    list-style-type: none;
    padding: 0;
    position: relative;

    &:before {
        content: none;
        left: 0;
    }
}

.c-post-list__link {
    @include clearfix();

    display: flex;
    background-image: none;
    cursor: pointer;
}

.c-post-list__meta {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: right;
    color: rgba($color-purple-000, .2);
    font-family: "cooper-hewitt-light";
    font-size: 1.2em;
    padding-left: 2%;

    transition: color 150ms ease-in;

    .c-post-list__link:hover & {
        color: rgba($color-purple-000, .4);
    }

    @media (min-width: 36em) {
        font-size: 1.4em;
    }
}

.c-post-list__content {
    flex: 1;
    border-top: 8px solid rgba($color-purple-000, .2);
    padding: 3% 3% 6% 3%;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        z-index: -1;
        background-color: rgba($color-purple-000, .1);
    }

    &:hover, &:focus {
        outline: none;

        &:before {
            opacity: 1;
        }
    }
}

.c-post-list__title {
    margin-top: 0;
    font-family: "league-spartan";
    font-size: 1.5em;
}

.c-post-list__subhead {
    margin-top: 0;
    color: $color-purple-000;
    font-family: "cooper-hewitt-light";
    font-size: 1em;

    @media (min-width: 36em) {
        font-size: 1.2em;
    }
}
