.c-post {
    font-family: "prospectus-small";

    @media (min-width: 48em) {
        padding: 0 $space-3 0 0;
    }

    @media (min-width: 72em) {
        padding: 0 $space-3;
    }

    @media (min-width: 80em) {
        padding: 0 $space-4;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0; 
    }

    li {
        padding-left: .9em;
        position: relative;
        margin-bottom: .5em;
    }

    li:before {
        content: "\2022";
        font-family: sans-serif;
        font-size: 1.8em;
        color: $color-primary-1;
        position: absolute;
        left: 0;
        top: -.35em;
    }

    h2 {
        font-size: 1.52em;
        color: $color-gray-2;
    }

    h3 {
        font-size: 1.2em;
        color: $color-gray-1;
    }

    a {
        background-position: 0 1.1em;

        &:hover {
            background-position: 0 1em;
        }
    }
}

.c-post__title {
    font-size: 1.75em;
    font-family: "cooper-hewitt-book";
    margin-top: 0;
}

.c-post__back { 
    background: none;
    font-size: 2.5em;
    position: absolute;
    left: -1em;
    top: -4px;
    opacity: .3;
    transition: opacity 80ms ease-in;

    &:before {
        border-width: 0.075em 0.075em 0 0 !important; // Override utility class default
    }

    &:hover {
        opacity: .7;
    }

    @media (min-width: 72em) {
            left: 1rem;
    }

    @media (min-width: 80em) {
        left: 4rem;
    }
}

// Double up on specificty to avoid !important
a.c-post__readmore {
    font-family: 'cooper-hewitt-book';
    background-position: 0 .95em;

    &:hover {
        background-position: 0 .95em;
        background-position: 0 .8em;
    }
}

.c-post__image {
    width: 100%;
    background: $color-white;
    padding: 1em 1em 0.4em 1em;
    margin: 1em 0;

    img {
        max-width: 100%;
    }
}

.c-post__caption {
    font-family: 'cooper-hewitt-book';
    font-size: .9em;
    color: $color-gray-2;
}
