.c-post {
    font-family: "prospectus-small";

    @media (min-width: 48em) {
        padding: 0 $space-3 0 0;
    }

    @media (min-width: 72em) {
        padding: 0 $space-3;
    }

    @media (min-width: 80em) {
        padding: 0 $space-4;
    }

    ul {
        list-style: none;
        padding-left: 0;
        margin-left: 0; 
    }

    ul li {
        padding-left: .9em;
        position: relative;
        margin-bottom: .5em;
    }

    ul li:before {
        content: "\2022";
        font-family: sans-serif;
        font-size: 1.8em;
        color: $color-primary-1;
        position: absolute;
        left: 0;
        top: -.35em;
    }

    ol {
        padding-left: 1.1em;
    }

    ol li {
        padding-left: 0;
    }

    h2 {
        font-size: 1.7em;
        margin-top: 4rem;
        color: $color-gray-2;
    }

    h3 {
        font-size: 1.05em;
        color: $color-gray-1;
        font-weight: bold;
        margin-top: 3rem;
    }

    h4 {
        font-size: 1em;
        color: $color-gray-2;
        font-weight: bold;
        margin-top: 2.5rem;
    }

    a {
        background-position: 0 1.1em;

        &:hover {
            background-position: 0 1em;
        }
    }
}

.c-post__title {
    font-size: 1.8em;
    font-family: "cooper-hewitt";
    margin-top: 0;
    margin-bottom: 1em;
}

.c-post__back { 
    background: none;
    font-size: 2.5em;
    position: absolute;
    left: -1em;
    top: -4px;
    opacity: .3;
    transition: opacity 80ms ease-in;

    &:before {
        border-width: 0.075em 0.075em 0 0 !important; // Override utility class default
    }

    &:hover {
        opacity: .7;
    }

    @media (min-width: 72em) {
            left: 1rem;
    }

    @media (min-width: 80em) {
        left: 4rem;
    }
}

// Double up on specificty to avoid !important
.c-post__image .c-post__caption a {
    font-family: 'cooper-hewitt', sans-serif;
    background-position: 0 .95em;

    &:hover {
        background-position: 0 .95em;
        background-position: 0 .8em;
    }
}

.c-post__image {
    width: 100%;
    background: $color-white;
    padding: 1em 1em 0.4em 1em;
    margin: 1em 0 1.5em;

    img, iframe {
        max-width: 100%;
        margin: 0 auto .6em;
        display: block;
    }
}

.c-post__quote {
    width: 100%;
    background: $color-white;
    padding: 1em 2em 0.8em 4em;
    margin: 3em 0;
    font-family: 'cooper-hewitt', sans-serif;
    position: relative;

    blockquote {
        font-size: 1.4em;
        color: $color-gray-2;

        &:before {
            content: '“';
            position: absolute;
            top: 1.5rem;
            left: .75rem;
            font-size: 6rem;
            line-height: 1;
            color: $color-primary-1;
            font-weight: bold;
        }
    }

    figcaption {
        font-style: italic;
        color: $color-gray-3;
        font-size: 1em;
        margin-top: .25em;
    }
}

.c-post__caption {
    font-family: 'cooper-hewitt', sans-serif;
    font-size: .9em;
    color: $color-gray-2; 
}
