.c-post-list__container {
    width: 99%; // optical illusion to create better visual alignment with intro color block;
}

.c-post-list {
    list-style: none;
    margin: 0 0 $space-3;
    font-size: .95em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4em;

    @media (min-width: 48em) {
        margin-right: -40%;
    }

    @media (min-width: 60em) {
        margin-right: -20%;
    }

    @media (min-width: 67em) {
        margin-right: 0;
    }
}

.c-post-list__heading {
    color: $color-gray-1;
    font-size: 1em;
    font-weight: bold;
    overflow: hidden;
}

.c-post-list__item {
    margin: 1em 0;
    position: relative;
    display: flex;
}

.c-post-list__link {
    display: flex;
    background-image: none;
    position: relative;
    padding: 1rem 1rem .55rem 1rem;
    color: $color-gray-2;
    margin-left: -1rem;
    transition: background-color 120ms ease-in;
    border-radius: 12px;

    &:hover {
        background: rgba($color-primary-1, .9);
        
        .c-post-list__meta {
            opacity: .75;
            color: white;
        }

        .c-post-list__title {
            color: white;
        }
    }
}

.c-post-list__meta {
    font-size: 4em;
    font-family: "prospectus-large";
    font-weight: normal;
    color: $color-primary-1;
    opacity: .75;
    width: 1.5ch;
    text-align: center;
    line-height: 1.2ch;
    user-select: none;
    pointer-events: none;
    margin-right: 1rem;
    transition: color 120ms ease-in, opacity 120ms ease-in;
}

.c-post-list__title {
    color: $color-gray-2;
    font-size: 1.6em;
    margin: 0;
    transition: color 120ms ease-in;
    line-height: 1.4;
}
